<!-- index.html -->
{% extends "default.html" %}

{% block content %}
{% import 'macro/bodyClass.html' as body %}
{{body.class('blog-post')}}

{% include "partials/nav.html" %}
	  
 <div class="page-header header-filter header-small  " filter-color="primary"data-parallax="true" style="background-image: url(&apos;../assets/img/bg0.jpg&apos;);">
     <div class="container ">
         <div class="row">
             <div class="col-md-8 ml-auto mr-auto text-center">
                 <h2 class="title">Il Gruppo</h2>
                 
             </div>
         </div>
     </div>
 </div>
 <div class="main main-raised ">
 <div class="container">
     <div class=" section section-text">
        
         <div class="">
             <div class="row">
                 <div class="col-md-8 ml-auto mr-auto text-left">
                     <h3 class="title">Profilo Aziendale</h3>
                   
					 <p><span>I</span>l gruppo Sicurtransport è leader nel settore della sicurezza, con specifiche competenze nella progettazione di attività integrate di vigilanza, trasporto valori e gestione di impianti di allarme. 
					 </p> <p> Oggi il gruppo rappresenta la soluzione di Sistema che consente ai Grandi Clienti, con complessità operativa e geografica, di gestire le proprie aree sensibili su tutto il territorio nazionale, con un controllo del rischio di tali attività date in outsourcing.</p>
					 <p class="text-right">Luciano Basile<br/><small>Amministratore Delegato</small></p>
						   <h2 class="title" ><small>La Famiglia Basile</small></h2><p>
						   La Famiglia Basile vanta una lunga tradizione nel settore della sicurezza preventiva: un’avventura che prosegue da ben cinque generazioni, iniziata oltre un secolo fa, quando il capostipite della famiglia Basile, diventa direttore tecnico di “Il Piave”: la prima organizzazione di polizia privata formata da ex carabinieri. </p><p> Durante gli anni settanta la società inizia un percorso di espansione, estendendo le proprie attività a tutte le province siciliane, rinnovandosi attraverso l’offerta di servizi quali la prevenzione a distanza tramite sofisticate tecniche e una moderna gestione dei flussi monetari nell’ambito di banche, poste e privati. <br/> All’inizio del nuovo millennio, quello guidato
dalla famiglia Basile, era divenuto ormai un Gruppo operante in tutto il sud Italia.</p>

<br/>
 <h2 class="title" ><small>La Cultura della Sicurezza</small></h2><p>
<p> La famiglia Basile ha sempre ritenuto fondamentale dare nuova linfa al settore sicurezza, sia attraverso l’impiego di nuove tecnologie, che con l’ampliamento della gamma di servizi proposti, allargando il proprio raggio di intervento ad attività limitrofe al settore della sicurezza, per offrire una rete di soluzioni sempre più completa e integrata. </p><p> Altro elemento prioritario nella politica del Gruppo è il costante impegno nel garantire al personale una formazione specializzata e un aggiornamento continuo, che tenga conto delle nuove esigenze manifestate dal mercato, in modo da assicurare al cliente la più elevata professionalità.</p><br/>

	<h2 ><small>Certificazioni di Qualità </small> </h2>
			  <div class="row">
			 
                 <div class="col-md-3">
                     <div class="card card-profile card-plain">
                         <div class="card-avatar d-none">
                             <a href="#pablo">
                                 <img class="img" src="../assets/img/faces/kendall.jpg">
                             </a>
                         </div>
                         <div class="card-body">
                             <h4 class="card-title">UNI EN ISO 9001</h4>
                             <h6 class="category text-muted">2008</h6>
                             <p class="card-description small">
                                 Gestione della Qualità
                             </p>
                         </div>
                         <div class="card-footer justify-content-center">
                             
                         </div>
                     </div>
                 </div>
                 <div class="col-md-3">
                     <div class="card card-profile card-plain">
                         <div class="card-avatar d-none">
                             <a href="#pablo">
                                 <img class="img" src="../assets/img/faces/kendall.jpg">
                             </a>
                         </div>
                         <div class="card-body">
                             <h4 class="card-title">OH SAS 18001</h4>
                             <h6 class="category text-muted">2007</h6>
                             <p class="card-description small">
                                 Gestione della Sicurezza e della Salute dei Lavoratori
                             </p>
                         </div>
                         <div class="card-footer justify-content-center">
                             
                         </div>
                     </div>
                 </div>
                 <div class="col-md-3">
                     <div class="card card-profile card-plain">
                         <div class="card-avatar d-none">
                             <a href="#pablo">
                                 <img class="img" src="../assets/img/faces/kendall.jpg">
                             </a>
                         </div>
                         <div class="card-body">
                             <h4 class="card-title">UNI 11068</h4>
                             <h6 class="category text-muted">2005</h6>
                             <p class="card-description small">
                                 Centrali di Telesorveglianza
                             </p>
                         </div>
                         <div class="card-footer justify-content-center">
                             
                         </div>
                     </div>
                 </div>
                 <div class="col-md-3">
                     <div class="card card-profile card-plain">
                         <div class="card-avatar d-none">
                             <a href="#pablo">
                                 <img class="img" src="../assets/img/faces/kendall.jpg">
                             </a>
                         </div>
                         <div class="card-body">
                             <h4 class="card-title">UNI 10459</h4>
                             <h6 class="category text-muted">2000</h6>
                             <p class="card-description small">
                                 Erogazione Servizi di Vigilanza e Sicurezza
                             </p>
                         </div>
                         <div class="card-footer justify-content-center">
                             
                         </div>
                     </div>
                 </div>
                 
             </div>
			 
			 </div>
             
			 </div>
            
			  
         </div>
         <div class="about-services features-2 d-none">
             <div class="row">
                 <div class="col-md-8 ml-auto mr-auto text-center">
                     <h2 class="title">We build awesome products</h2>
                     <h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information.</h5>
                 </div>
             </div>
             <div class="row">
                 <div class="col-md-4">
                     <div class="info info-horizontal">
                         <div class="icon icon-rose">
                             <i class="material-icons">gesture</i>
                         </div>
                         <div class="description">
                             <h4 class="info-title">1. Design</h4>
                             <p>The moment you use Material Kit, you know you&#x2019;ve never felt anything like it. With a single use, this powerfull UI Kit lets you do more than ever before. </p>
                             <a href="#pablo">Find more...</a>
                         </div>
                     </div>
                 </div>
                 <div class="col-md-4">
                     <div class="info info-horizontal">
                         <div class="icon icon-rose">
                             <i class="material-icons">build</i>
                         </div>
                         <div class="description">
                             <h4 class="info-title">2. Develop</h4>
                             <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                             <a href="#pablo">Find more...</a>
                         </div>
                     </div>
                 </div>
                 <div class="col-md-4">
                     <div class="info info-horizontal">
                         <div class="icon icon-rose">
                             <i class="material-icons">mode_edit</i>
                         </div>
                         <div class="description">
                             <h4 class="info-title">3. Make Edits</h4>
                             <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                             <a href="#pablo">Find more...</a>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         
         <div class="about-contact d-none">
             <div class="row">
                 <div class="col-md-8 ml-auto mr-auto">
                     <h2 class="text-center title">Contatt</h2>
                     <h4 class="text-center description">Divide details about your product or agency work into parts. Write a few lines about each one and contact us about any further collaboration. We will get back to you in a couple of hours.</h4>
                     <form class="contact-form">
                         <div class="row">
                             <div class="col-md-4">
                                 <div class="form-group">
                                     <label for="name" class="bmd-label-floating">Your name</label>
                                     <input type="text" class="form-control">
                                 </div>
                             </div>
                             <div class="col-md-4">
                                 <div class="form-group">
                                     <label for="email" class="bmd-label-floating">Your Email</label>
                                     <input type="email" class="form-control">
                                 </div>
                             </div>
                             <div class="col-md-4">
                                 <select class="selectpicker " data-style="select-with-transition" data-size="7">
                                     <option value="1" disabled>Speciality</option>>
                                     <option value="2">I&apos;m a Designer</option>
                                     <option value="3">I&apos;m a Developer</option>
                                     <option value="4">I&apos;m a Hero</option>
                                 </select>
                             </div>
                         </div>
                         <div class="row">
                             <div class="col-md-4 ml-auto mr-auto text-center">
                                 <button class="btn btn-primary btn-round">
                                     Let&apos;s talk
                                 </button>
                             </div>
                         </div>
                     </form>
                 </div>
             </div>
         </div>
     </div>
 </div>
</div>
{% endblock %}

