<!-- index.html -->
{% extends "default.html" %}

{% block content %}
{% import 'macro/bodyClass.html' as body %}
{{body.class('blog-post')}}

{% include "partials/nav.html" %}

   <div class="page-header header-filter header-small" filter-color="primary" data-parallax="true" style="background-image: url(&apos;../assets/img/bg10.jpg&apos;);">
       <div class="container">
           <div class="row">
               <div class="col-md-8 ml-auto mr-auto text-center">
                   <h1 >I Nostri Servizi</h1>
               </div>
           </div>
       </div>
   </div>
   <div class="main main-raised">
       <div class="container">
           <div class="section">
               <div class="row">
                   <div class="col-md-10 ml-auto mr-auto text-center">
                       <ul class="nav nav-pills nav-pills-primary">
                           <li class="nav-item">
                               <a class="nav-link active" href="#pill1" data-toggle="tab">Tutti</a>
                           </li>
                           <li class="nav-item">
                               <a class="nav-link" href="#pill2" data-toggle="tab">Privati</a>
                           </li>
                           <li class="nav-item">
                               <a class="nav-link" href="#pill3" data-toggle="tab">Negozi</a>
                           </li>
                           <li class="nav-item">
                               <a class="nav-link" href="#pill3" data-toggle="tab">Aziende</a>
                           </li>
                           <li class="nav-item">
                               <a class="nav-link" href="#pill3" data-toggle="tab">Industrie</a>
                           </li>
                           <li class="nav-item">
                               <a class="nav-link" href="#pill3" data-toggle="tab">Pubblica Amministrazione</a>
                           </li>
                       </ul>
                       <div class="tab-content tab-space">
                           <div class="tab-pane active" id="pill1"></div>
                           <div class="tab-pane" id="pill2"></div>
                           <div class="tab-pane" id="pill3"></div>
                           <div class="tab-pane" id="pill4"></div>
                       </div>
                   </div>
               </div>
               <div class="row">
                   <div class="col-md-6">
                       <div class="card card-raised card-background" style="background-image: url('../assets/img/examples/office2.jpg')">
                           <div class="card-body">
                               <h6 class="card-category text-info">Worlds</h6>
                               <a href="#pablo">
                                   <h3 class="card-title">The Best Productivity Apps on Market</h3>
                               </a>
                               <p class="card-description">
                                   Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                               </p>
                               <a href="#pablo" class="btn btn-danger btn-round">
                                   <i class="material-icons">format_align_left</i> Read Article
                               </a>
                           </div>
                       </div>
                   </div>
                   <div class="col-md-6">
                       <div class="card card-raised card-background" style="background-image: url('../assets/img/examples/blog8.jpg')">
                           <div class="card-body">
                               <h6 class="card-category text-info">Business</h6>
                               <h3 class="card-title">Working on Wallstreet is Not So Easy</h3>
                               <p class="card-description">
                                   Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                               </p>
                               <a href="#pablo" class="btn btn-primary btn-round">
                                   <i class="material-icons">format_align_left</i> Read Article
                               </a>
                           </div>
                       </div>
                   </div>
                   <div class="col-md-12">
                       <div class="card card-raised card-background" style="background-image: url('../assets/img/examples/card-project6.jpg')">
                           <div class="card-body">
                               <h6 class="card-category text-info">Marketing</h6>
                               <h3 class="card-title">0 to 100.000 Customers in 6 months</h3>
                               <p class="card-description">
                                   Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                               </p>
                               <a href="#pablo" class="btn btn-warning btn-round">
                                   <i class="material-icons">subject</i> Read Case Study
                               </a>
                               <a href="#pablo" class="btn btn-white btn-just-icon btn-link" title="" rel="tooltip" data-original-title="Save to Pocket">
                                   <i class="fa fa-get-pocket"></i>
                               </a>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
           <div class="section d-none">
               <h3 class="title text-center">You may also be interested in</h3>
               <br>
               <div class="row">
                   <div class="col-md-4">
                       <div class="card card-plain card-blog">
                           <div class="card-header card-header-image">
                               <a href="#pablo">
                                   <img class="img img-raised" src="../assets/img/examples/card-blog1.jpg">
                               </a>
                           </div>
                           <div class="card-body">
                               <h6 class="card-category text-info">Enterprise</h6>
                               <h4 class="card-title">
                                   <a href="#pablo">Autodesk looks to future of 3D printing with Project Escher</a>
                               </h4>
                               <p class="card-description">
                                   Like so many organizations these days, Autodesk is a company in transition. It was until recently a traditional boxed software company selling licenses.
                                   <a href="#pablo"> Read More </a>
                               </p>
                           </div>
                       </div>
                   </div>
                   <div class="col-md-4">
                       <div class="card card-plain card-blog">
                           <div class="card-header card-header-image">
                               <a href="#pablo">
                                   <img class="img img-raised" src="../assets/img/examples/card-blog1.jpg">
                               </a>
                           </div>
                           <div class="card-body">
                               <h6 class="card-category text-success">
                                   Startups
                               </h6>
                               <h4 class="card-title">
                                   <a href="#pablo">Lyft launching cross-platform service this week</a>
                               </h4>
                               <p class="card-description">
                                   Like so many organizations these days, Autodesk is a company in transition. It was until recently a traditional boxed software company selling licenses.
                                   <a href="#pablo"> Read More </a>
                               </p>
                           </div>
                       </div>
                   </div>
                   <div class="col-md-4">
                       <div class="card card-plain card-blog">
                           <div class="card-header card-header-image">
                               <a href="#pablo">
                                   <img class="img img-raised" src="../assets/img/examples/card-blog1.jpg">
                               </a>
                           </div>
                           <div class="card-body">
                               <h6 class="card-category text-danger">
                                   <i class="material-icons">trending_up</i> Enterprise
                               </h6>
                               <h4 class="card-title">
                                   <a href="#pablo">6 insights into the French Fashion landscape</a>
                               </h4>
                               <p class="card-description">
                                   Like so many organizations these days, Autodesk is a company in transition. It was until recently a traditional boxed software company selling licenses.
                                   <a href="#pablo"> Read More </a>
                               </p>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <div class="team-5 section-image" style="background-image: url(&apos;../assets/img/bg10.jpg&apos;)">
           <div class="container">
               <div class="row">
                   <div class="col-md-6">
                       <div class="card card-profile card-plain">
                           <div class="row">
                               <div class="col-md-5">
                                   <div class="card-header card-header-image">
                                       <a href="#pablo">
                                           <img class="img" src="../assets/img/faces/card-profile1-square.jpg">
                                       </a>
                                       <div class="ripple-container"></div>
                                   </div>
                               </div>
                               <div class="col-md-7">
                                   <div class="card-body">
                                       <h4 class="card-title">Marco Rossi</h4>
                                       <h6 class="card-category text-muted">Resp.Commerciale</h6>
                                       <p class="card-description">
                                           Don't be scared of the truth because we need to restart the human foundation in truth...
                                       </p>
                                   </div>
                                   <div class="card-footer">
                                       <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                                           <i class="fa fa-twitter"></i>
                                       </a>
                                       <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                                           <i class="fa fa-facebook-square"></i>
                                       </a>
                                       <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                                           <i class="fa fa-google"></i>
                                       </a>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="col-md-6">
                       <div class="card card-profile card-plain">
                           <div class="row">
                               <div class="col-md-5">
                                   <div class="card-header card-header-image">
                                       <a href="#pablo">
                                           <img class="img" src="../assets/img/faces/card-profile4-square.jpg">
                                       </a>
                                   </div>
                               </div>
                               <div class="col-md-7">
                                   <div class="card-body">
                                       <h4 class="card-title">Carla Bianchi</h4>
                                       <h6 class="card-category text-muted">Amministrazione</h6>
                                       <p class="card-description">
                                           Don't be scared of the truth because we need to restart the human foundation in truth...
                                       </p>
                                   </div>
                                   <div class="card-footer">
                                       <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                                           <i class="fa fa-linkedin"></i>
                                       </a>
                                       <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                                           <i class="fa fa-facebook-square"></i>
                                       </a>
                                       <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                                           <i class="fa fa-dribbble"></i>
                                       </a>
                                       <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                                           <i class="fa fa-google"></i>
                                       </a>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <div class="subscribe-line">
           <div class="container">
               <div class="row">
                   <div class="col-md-6">
                       <h3 class="title">Rimani Aggiornato</h3>
                       <p class="description">
                           Join our newsletter and get news in your inbox every week! We hate spam too, so no worries about this.
                       </p>
                   </div>
                   <div class="col-md-6">
                       <div class="card card-plain card-form-horizontal">
                           <div class="card-body">
                               <form method="" action="">
                                   <div class="row">
                                       <div class="col-md-8">
                                           <div class="input-group">
                                               <div class="input-group-prepend">
                                                   <span class="input-group-text">
                                                       <i class="material-icons">email</i>
                                                   </span>
                                               </div>
                                               <input type="text" class="form-control" placeholder="La Tua Email...">
                                           </div>
                                       </div>
                                       <div class="col-md-4">
                                           <button type="button" class="btn btn-primary btn-round btn-block">Iscriviti</button>
                                       </div>
                                   </div>
                               </form>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
{% endblock %}

