<!-- index.html -->
{% extends "default.html" %}
{% block meta %}
						{% for page in pages %}			

						{% if page.slug == "contatti" %}
						<meta name="description" content="{{page.meta_description}}">
						

						{% endif  %}

							{% endfor %}
                        

{% endblock %}

{% block content %}
{% import 'macro/bodyClass.html' as body %}
{{body.class('about-us')}}

{% include "partials/nav.html" %}


	
	
    <div class="page-header header-filter header-small " filter-color="primary" data-parallax="true" style="background-image: url(&apos;../../assets/img/bg7.jpg&apos;); background-size: cover; background-position: top center;">
        <div class="container ">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h1 class="title">Contatti</h1>
                 
                </div>
            </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="contact-content">
			
            <div class="container">
                
                <div class="row pb-5">
                    <div class="col-md-6 ml-auto pt-5">
						<h2 class="title pt-3">Scrivici</h2>
                        <p class="description">Utilizza il modulo per inviarci un messaggio, rispondiamo in 24h.
                            <br>
                            <br>
                        </p>
                        <form role="form" id="contact-form" netlify method="post">
                            <div class="form-group">
                                <label for="name" class="bmd-label-floating">Il tuo Nome e Cognome</label>
                                <input type="text" class="form-control" name="nome_e_cognome" id="nome_e_cognome" required="true" aria-required="true" >
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmails" class="bmd-label-floating">Indirizzo Email </label>
                                <input type="email" class="form-control" name="email" id="email" required="true" aria-required="true" >
                                <span class="bmd-help">Non condividiamo mai i tuoi dati con terze parti.</span>
                            </div>
                            <div class="form-group">
                                <label for="phone" class="bmd-label-floating">Recapito Telefonico</label>
                                <input type="text" class="form-control" id="tel" id="tel" required="true" aria-required="true">
                            </div>
                            <div class="form-group label-floating">
                                <label class="form-control-label bmd-label-floating" for="message"> Il tuo messaggio</label>
                                <textarea class="form-control" rows="6" id="message" name="messaggio"  equired="true" aria-required="true"></textarea>
                            </div>
                            <div class="submit text-center">
                                <input type="submit" class="btn btn-primary btn-raised btn-round w-50" value="Invia">
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4 mr-auto">
                        <div class="info info-horizontal">
                            <div class="icon icon-primary">
                                <i class="material-icons">pin_drop</i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Direzione e Area Amministrativa</h4>
                                <p> Via Papa Sergio I, 48
									<br/>90142 Palermo, IT
									
									
                                </p>
								<a href="#sedi" class="btn btn-primary bts-xs btn-round"> Elenco Sedi </a>
                            </div>
                        </div>
                        <div class="info info-horizontal">
                            <div class="icon icon-primary">
                                <i class="material-icons">phone</i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Telefono</h4>
                                <p> +39 091 6399111
									<br/><i class="material-icons">print</i> Fax +39 091 6371898
                                </p>
                            </div>
                        </div>
                        <div class="info info-horizontal d-none">
                            <div class="icon icon-primary">
                                <i class="material-icons">business_center</i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Legal Information</h4>
                                <p> Creative Tim Ltd.
                                    <br> VAT &#xB7; EN2341241
                                    <br> IBAN &#xB7; EN8732ENGB2300099123
                                    <br> Bank &#xB7; Great Britain Bank
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
				<hr/>
				<div class="row pt-5 pb-5" id="sedi">
					  <div class="col-md-6 pt-5 mr-auto ml-auto ghost-html">
					  	<h2 class="text-center"> Sedi </h2>
						{% for page in pages %}			

						{% if page.slug == "contatti" %}
						{{page.html | safe}}

						{% endif  %}

							{% endfor %}
                        
						
					  </div>
				</div>
            </div>
        </div>
    </div>
    <!--  Google Maps Plugin <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script> -->
    
  
{% endblock %}

