<!-- index.html -->
{% extends "default.html" %}

{% block content %}
{% import 'macro/bodyClass.html' as body %}
{{body.class('home')}}

{% include "partials/nav.html" %}
{% include "partials/featured.html" %}

  
  <!--     *********    END HEADER 3      *********      -->


	<div class="main main-raised">
        <div class="container">
            <!--     *********    PROJECTS 1     *********      -->
			
            <!--     *********    END PROJECTS 1      *********      -->



			 {% include "partials/clienticolor.html" %}



        </div>
	
			{% include "partials/newscards.html" %}


	 	<br/><br/>
    </div>
{% endblock %}

