<!-- index.html -->
{% extends "default.html" %}

{% block content %}
{% import 'macro/bodyClass.html' as body %}
{{body.class('about-us')}}

{% include "partials/nav.html" %}



	  
 <div class="page-header header-filter header-small  " filter-color="primary"data-parallax="true" style="background-image: url({{page.feature_image}});">
     <div class="container ">
         <div class="row">
             <div class="col-md-8 ml-auto mr-auto text-center projects-1">
                  <h1 class="title">{{page.title}}</h2>
                      <h2 class="title">Richiedi come </h2>
                      <ul class="nav nav-pills ">
                          <li class="nav-item">
                              <a class="nav-link active" href="#pill1" data-toggle="tab">Privato</a>
                          </li> 
                          <li class="nav-item">
                              <a class="nav-link" href="#pill2" data-toggle="tab">Azienda</a>
                          </li>
                          
                      </ul>
					
                 
             </div>
         </div>
     </div>
 </div>
 <div class="main main-raised ">
	 <div class="container">
	                     <div class="row">
	                         <div class="col-md-12 ml-auto mr-auto text-center ">
	                             
	                             <div class="tab-content tab-space text-left">
	                                 <div class="tab-pane active show" id="pill1">
										 <div class="pt-5">
										                 <div class="container">
										                     <div class="row">
										                         <div class="col-md-5">
										                             <h2 class="title">Privati</h2>
										                             <h5 class="description">La vostra richiesta sarà subito esaminata e sarete contattati in giornata da un nostro addetto che fornirà tutte le informazioni e/o il preventivo di cui avete bisogno</h5>
										                          
										                             <div class="info info-horizontal">
										                                 <div class="icon icon-primary">
										                                     <i class="material-icons">phone</i>
										                                 </div>
										                                 <div class="description">
										                                     <h4 class="info-title">Parliamone</h4>
										                                     <p> Michael Jordan
										                                         <br> +40 762 321 762
										                                         <br> Lun - Ven, 8:00-22:00
										                                     </p>
										                                 </div>
										                             </div>
										                         </div>
										                         <div class="col-md-5 ml-auto">
										                             <div class="card card-contact">
										                                 <form id="contact-form" method="post">
										                                     <div class="card-header card-header-raised card-header-primary text-center">
										                                         <h4 class="card-title">Compila il Modulo</h4>
										                                     </div>
										                                     <div class="card-body">
										                                         <div class="row">
										                                             <div class="col-md-6">
										                                                 <div class="form-group label-floating is-empty bmd-form-group">
										                                                     <label class="bmd-label-floating">Nome</label>
										                                                     <input type="text" name="name" class="form-control">
										                                                     <span class="material-input"></span>
										                                                 </div>
										                                             </div>
										                                             <div class="col-md-6">
										                                                 <div class="form-group label-floating is-empty bmd-form-group">
										                                                     <label class="bmd-label-floating">Cognome</label>
										                                                     <input type="text" name="name" class="form-control">
										                                                     <span class="material-input"></span>
										                                                 </div>
										                                             </div>
										                                         </div>
										                                         <div class="form-group label-floating is-empty bmd-form-group">
										                                             <label class="bmd-label-floating">Email </label>
										                                             <input type="email" name="email" class="form-control">
										                                             <span class="material-input"></span>
										                                         </div>
										                                         <div class="form-group label-floating is-empty bmd-form-group">
										                                             <label class="bmd-label-floating">Cellulare</label>
										                                             <input type="email" name="email" class="form-control">
										                                             <span class="material-input"></span>
										                                         </div>
										                                         <div class="form-group label-floating is-empty bmd-form-group">
										                                             <label class="bmd-label-floating"></label>
																					 <select class="selectpicker " data-style="select-with-transition" title="Dove richiede il servizio" data-size="7">
																					   
																					     <option value="2">Foobar</option>
																					     <option value="3">Is great</option>
																					 </select>
										                                             <span class="material-input"></span>
										                                         </div>
										                                         <div class="form-group label-floating is-empty bmd-form-group">
										                                             <label for="exampleMessage1" class="bmd-label-floating">Messaggio opzionale</label>
										                                             <textarea name="message" class="form-control" id="exampleMessage1" rows="6"></textarea>
										                                             <span class="material-input"></span>
										                                         </div>
										                                     </div>
										                                     <div class="card-footer justify-content-between">
										                                         <div class="form-check">
										                                             <label class="form-check-label">
										                                                 <input class="form-check-input" type="checkbox" value=""> I'm not a robot
										                                                 <span class="form-check-sign">
										                                                     <span class="check"></span>
										                                                 </span>
										                                             </label>
										                                         </div>
										                                         <button type="submit" class="btn btn-primary pull-right">Invia</button>
										                                     </div>
										                                 </form>
										                             </div>
										                         </div>
										                     </div>
										                 </div>
										             </div>
	                                 </div>
	                                 <div class="tab-pane" id="pill2">
										 <div class="pt-5">
										                 <div class="container">
										                     <div class="row">
										                         <div class="col-md-5">
										                             <h2 class="title">Aziende</h2>
										                             <h5 class="description">La vostra richiesta sarà subito esaminata e sarete contattati in giornata da un nostro addetto che fornirà tutte le informazioni e/o il preventivo di cui avete bisogno</h5>
										                          
										                             <div class="info info-horizontal">
										                                 <div class="icon icon-primary">
										                                     <i class="material-icons">phone</i>
										                                 </div>
										                                 <div class="description">
										                                     <h4 class="info-title">Parliamone</h4>
										                                     <p> Michael Jordan
										                                         <br> +40 762 321 762
										                                         <br> Lun - Ven, 8:00-22:00
										                                     </p>
										                                 </div>
										                             </div>
										                         </div>
										                         <div class="col-md-5 ml-auto">
										                             <div class="card card-contact">
										                                 <form id="contact-form" method="post">
										                                     <div class="card-header card-header-raised card-header-primary text-center">
										                                         <h4 class="card-title">Compila il Modulo</h4>
										                                     </div>
										                                     <div class="card-body">
										                                        
										                                                 <div class="form-group label-floating is-empty bmd-form-group">
										                                                     <label class="bmd-label-floating">Ragione Sociale</label>
										                                                     <input type="text" name="name" class="form-control">
										                                                     <span class="material-input"></span>
										                                                 </div>
										                                             
	   										                                         <div class="form-group label-floating is-empty bmd-form-group">
	   										                                             <label class="bmd-label-floating"></label>
	   																					 <select class="selectpicker " data-style="select-with-transition" title="Dove richiede il Servizio" data-size="7">
	   																					    >
	   																					     <option value="2">Foobar</option>
	   																					     <option value="3">Is great</option>
	   																					 </select>
	   										                                             <span class="material-input"></span>
	   										                                         </div>
										                                             
										                                      
										                                         <div class="form-group label-floating is-empty bmd-form-group">
										                                             <label class="bmd-label-floating"></label>
																					 <select class="selectpicker " data-style="select-with-transition" title="Tipo di Azienda" data-size="7">
																					    
																					     <option value="Istituto di Credito">Istituto di Credito </option>
																					     <option value="GDO">G.D.O.</option>
																						  <option value="Esercizio Commerciale">Esercizio Commerciale</option>
																						   <option value="Tabacchi">Tabacchi</option>
																						    <option value="Farmacia">Farmacia.</option>
																							 <option value="Altro">Altro</option>
																					 </select>
										                                             <span class="material-input"></span>
										                                         </div>
										                                         <div class="form-group label-floating is-empty bmd-form-group">
										                                             <label class="bmd-label-floating">Cellulare</label>
										                                             <input type="text" name="email" class="form-control">
										                                             <span class="material-input"></span>
										                                         </div>
										                                         <div class="form-group label-floating is-empty bmd-form-group">
										                                             <label class="bmd-label-floating">Email </label>
										                                             <input type="email" name="email" class="form-control">
										                                             <span class="material-input"></span>
										                                         </div>
										                                        
										                                         <div class="form-group label-floating is-empty bmd-form-group">
										                                             <label for="exampleMessage1" class="bmd-label-floating">Messaggio opzionale</label>
										                                             <textarea name="message" class="form-control" id="exampleMessage1" rows="6"></textarea>
										                                             <span class="material-input"></span>
										                                         </div>
										                                     </div>
										                                     <div class="card-footer justify-content-between">
										                                         <div class="form-check">
										                                             <label class="form-check-label">
										                                                 <input class="form-check-input" type="checkbox" value=""> I'm not a robot
										                                                 <span class="form-check-sign">
										                                                     <span class="check"></span>
										                                                 </span>
										                                             </label>
										                                         </div>
										                                         <button type="submit" class="btn btn-primary pull-right">Invia</button>
										                                     </div>
										                                 </form>
										                             </div>
										                         </div>
										                     </div>
										                 </div>
										             </div>
										 
	                                 </div>
	                                
	                             </div>
	                         </div>
	                     </div>
	                     <div class="row">
                        
                        
                        
	                     </div>
	                 </div>
 </div>


{% endblock %}

