<!-- index.html -->
{% extends "default.html" %}

{% block content %}
{% import 'macro/bodyClass.html' as body %}
{{body.class('about-us')}}

{% include "partials/nav.html" %}
<script>
	(function(funcName, baseObj) {
	    // The public function name defaults to window.docReady
	    // but you can pass in your own object and own function name and those will be used
	    // if you want to put them in a different namespace
	    funcName = funcName || "docReady";
	    baseObj = baseObj || window;
	    var readyList = [];
	    var readyFired = false;
	    var readyEventHandlersInstalled = false;

	    // call this when the document is ready
	    // this function protects itself against being called more than once
	    function ready() {
	        if (!readyFired) {
	            // this must be set to true before we start calling callbacks
	            readyFired = true;
	            for (var i = 0; i < readyList.length; i++) {
	                // if a callback here happens to add new ready handlers,
	                // the docReady() function will see that it already fired
	                // and will schedule the callback to run right after
	                // this event loop finishes so all handlers will still execute
	                // in order and no new ones will be added to the readyList
	                // while we are processing the list
	                readyList[i].fn.call(window, readyList[i].ctx);
	            }
	            // allow any closures held by these functions to free
	            readyList = [];
	        }
	    }

	    function readyStateChange() {
	        if ( document.readyState === "complete" ) {
	            ready();
	        }
	    }

	    // This is the one public interface
	    // docReady(fn, context);
	    // the context argument is optional - if present, it will be passed
	    // as an argument to the callback
	    baseObj[funcName] = function(callback, context) {
	        if (typeof callback !== "function") {
	            throw new TypeError("callback for docReady(fn) must be a function");
	        }
	        // if ready has already fired, then just schedule the callback
	        // to fire asynchronously, but right away
	        if (readyFired) {
	            setTimeout(function() {callback(context);}, 1);
	            return;
	        } else {
	            // add the function and context to the list
	            readyList.push({fn: callback, ctx: context});
	        }
	        // if document already ready to go, schedule the ready function to run
	        if (document.readyState === "complete") {
	            setTimeout(ready, 1);
	        } else if (!readyEventHandlersInstalled) {
	            // otherwise if we don't have event handlers installed, install them
	            if (document.addEventListener) {
	                // first choice is DOMContentLoaded event
	                document.addEventListener("DOMContentLoaded", ready, false);
	                // backup is window load event
	                window.addEventListener("load", ready, false);
	            } else {
	                // must be IE
	                document.attachEvent("onreadystatechange", readyStateChange);
	                window.attachEvent("onload", ready);
	            }
	            readyEventHandlersInstalled = true;
	        }
	    }
	})("docReady", window);
  
	
	function getUrlParameter(name) {
	    name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
	    var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
	    var results = regex.exec(location.search);
	    return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
	};
	
	docReady(function() {
		
		if(getUrlParameter('area')=="Casseforti Intelligenti") {
			var element = document.getElementById("casseforti-intelligenti-privati");
			  element.classList.remove("d-none");
			
		}
		
		
		
		
		var el = document.getElementById("page-header"); 
		var bg = getUrlParameter('bg');
		var service = getUrlParameter('service');
		
		el.setAttribute("style", "background-image:url("+bg+")");
		document.getElementById("service").value = service; 
		document.getElementById("service_").value = service; 
	});
	
	
	

	
	
</script>


	  
 <div id="page-header" class="page-header header-filter header-small  " filter-color="primary"data-parallax="true" >
     <div class="container ">
         <div class="row">
             <div class="col-md-8 ml-auto mr-auto text-center projects-1">
                  <h1 class="title">{{page.title}}</h2>
                      <h2 class="title">Richiedi come </h2>
                      <ul class="nav nav-pills nav-pills-success">
                          <li class="nav-item">
                              <a class="nav-link " href="#pill1" data-toggle="tab">Privato</a>
                          </li> 
                          <li class="nav-item">
                              <a class="nav-link active" href="#pill2" data-toggle="tab">Azienda</a>
                          </li>
                          
                      </ul>
					
                 
             </div>
         </div>
     </div>
 </div>
 <div class="main main-raised ">
	 <div class="container">
	                     <div class="row">
	                         <div class="col-md-12 ml-auto mr-auto text-center ">
	                             
	                             <div class="tab-content tab-space text-left">
	                                 <div class="tab-pane " id="pill1">
										 <div class="pt-5">
										                 <div class="container">
										                     <div class="row">
										                         <div class="col-md-5">
										                             <h2 class="title">Privati</h2>
										                             <h5 class="description">La vostra richiesta sarà subito esaminata e sarete contattati in giornata da un nostro addetto che fornirà tutte le informazioni e/o il preventivo di cui avete bisogno</h5>
										                          
										                             
										                         </div>
										                         <div class="col-md-5 ml-auto">
										                             <div class="card card-contact">
										                                 <form class="d-none" id="casseforti-intelligenti-privati" name="casseforti-intelligenti-privati" method="post" netlify action="/conferma">
																			 <input type="hidden" name="servizio" id="service_" value="">
										                                     <div class="card-header card-header-raised card-header-primary text-center">
										                                         <h4 class="card-title">Compila il Modulo</h4>
										                                     </div>
										                                     <div class="card-body">
										                                         <div class="row">
										                                             <div class="col-md-6">
										                                                 <div class="form-group label-floating is-empty bmd-form-group">
										                                                     <label class="bmd-label-floating">Nome</label>
										                                                     <input type="text" name="nome" class="form-control" required="true" aria-required="true" aria-invalid="true">
										                                                     <span class="material-input"></span>
										                                                 </div>
										                                             </div>
										                                             <div class="col-md-6">
										                                                 <div class="form-group label-floating is-empty bmd-form-group">
										                                                     <label class="bmd-label-floating">Cognome</label>
										                                                     <input type="text" name="cognome" class="form-control" required="true" aria-required="true" aria-invalid="true">
										                                                     <span class="material-input"></span>
										                                                 </div>
										                                             </div>
										                                         </div>
										                                         <div class="form-group label-floating is-empty bmd-form-group">
										                                             <label class="bmd-label-floating">Email </label>
										                                             <input type="email" name="email" class="form-control" required="true" aria-required="true" aria-invalid="true">
										                                             <span class="material-input"></span>
										                                         </div>
										                                         <div class="form-group label-floating is-empty bmd-form-group">
										                                             <label class="bmd-label-floating">Cellulare</label>
										                                             <input type="text" name="cell" class="form-control" required="true" aria-required="true" aria-invalid="true">
										                                             <span class="material-input"></span>
										                                         </div>
	   										                                         <div class="form-group label-floating is-empty bmd-form-group">
	   										                                             <label class="bmd-label-floating"></label>
	   																					
																						             <select name="regione" id="category1_" class="selectpicker " data-style="select-with-transition"  data-size="7" required="true" aria-required="true" aria-invalid="true">
																						     <option  value=''>Seleziona Regione</option>         
																						   <option value='Abruzzo'>Abruzzo</option>
																						   <option value='Basilicata'>Basilicata</option>
																						   <option value='Calabria'>Calabria</option>
																						   <option value='Campania'>Campania</option>
																						   <option value='Emilia Romagna'>Emilia Romagna</option>
																						   <option value='Friuli Venezia Giulia'>Friuli Venezia Giulia</option>
																						   <option value='Lazio'>Lazio</option>
																						   <option value='Liguria'>Liguria</option>
																						   <option value='Lombardia'>Lombardia</option>
																						   <option value='Marche'>Marche</option>
																						   <option value='Molise'>Molise</option>
																						   <option value='Piemonte'>Piemonte</option>
																						   <option value='Puglia'>Puglia</option>
																						   <option value='Sardegna'>Sardegna</option>
																						   <option value='Sicilia'>Sicilia</option>
																						   <option value='Toscana'>Toscana</option>
																						   <option value='Trentino Alto Adige'>Trentino Alto Adige</option>
																						   <option value='Umbria'>Umbria</option>
																						   <option value="Valle d'Aosta'">Valle d'Aosta</option>
																						   <option value='Veneto'>Veneto</option>
																						             </select>
																				             
																						 
																						 <span class="material-input"></span>
	   										                                         </div>
										                                            
   										                                         <div class="form-group label-floating is-empty bmd-form-group">
   										                                             <label class="bmd-label-floating"></label>
																		             <select disabled="disabled" class="subcat_" id="category2_" name="provincia" required="true" aria-required="true" aria-invalid="true">
																		             <option disabled value=''>Seleziona Provincia</option>    
																		               <!-- Abruzzo -->
																		               <optgroup data-rel="Abruzzo">
         
																		                <option value="Chieti">Chieti</option>
																		                <option value="L\'Aquila">L\'Aquila</option>
																		               <option value="Pescara">Pescara</option>
																		                 <option value="Teramo">Teramo</option>
																		               </optgroup>
																		               <!-- Basilicata -->
																		               <optgroup data-rel="Basilicata">
         
																		                <option value="Matera">Matera</option>
																		                <option value="Potenza">Potenza</option>
       
																		               </optgroup>
      
																		              <!-- Basilicata -->
																		               <optgroup data-rel="Calabria">
         
																		               <option value="Catanzaro">Catanzaro</option>
																		           <option value="Cosenza">Cosenza</option>
																		           <option value="Crotone">Crotone</option>
																		           <option value="Reggio Calabria">Reggio Calabria</option>
																		           <option value="Vibo Valentia">Vibo Valentia</option>
       
																		               </optgroup>
      
																		                <!-- Campania -->
																		               <optgroup data-rel="Campania">
																		               <option value="Avellino">Avellino</option>
																		           <option value="Benevento">Benevento</option>
																		           <option value="Caserta">Caserta</option>
																		           <option value="Napoli">Napoli</option>
																		           <option value="Salerno">Salerno</option>
																		                   </optgroup>
           
																		                    <!-- Emilia Romagna -->
																		               <optgroup data-rel="Emilia Romagna">
																		              <option value="Bologna">Bologna</option>
																		           <option value="Ferrara">Ferrara</option>
																		           <option value="Forl&igrave;-Cesena">Forl&igrave;-Cesena</option>
																		           <option value="Modena">Modena</option>
																		           <option value="Parma">Parma</option>
																		           <option value="Piacenza">Piacenza</option>
																		           <option value="Ravenna">Ravenna</option>
																		           <option value="Repubblica di San Marino">Repubblica di San Marino</option>
																		           <option value="Rimini">Rimini</option>
																		                   </optgroup>
           
																		                   <!-- Friuli Venezia Giulia -->
																		               <optgroup data-rel="Friuli Venezia Giulia">
																		              <option value="" selected>Seleziona</option>
																		           <option value="Gorizia">Gorizia</option>
																		           <option value="Pordenone">Pordenone</option>
																		           <option value="Trieste">Trieste</option>
																		           <option value="Udine">Udine</option>
																		                   </optgroup>
      
																		               <!-- Lazio -->
																		               <optgroup data-rel="Lazio">
																		              <option value="Frosinone">Frosinone</option>
																		           <option value="Latina">Latina</option>
																		           <option value="Rieti">Rieti</option>
																		           <option value="Roma">Roma</option>
																		           <option value="Viterbo">Viterbo</option>
   
																		                   </optgroup>
           
																		                    <!-- Liguria -->
																		               <optgroup data-rel="Liguria">
																		              <option value="Frosinone">Frosinone</option>
																		           <option value="" selected>Seleziona</option>
																		           <option value="Genova">Genova</option>
																		           <option value="Imperia">Imperia</option>
																		           <option value="La Spezia">La Spezia</option>
																		           <option value="Savona">Savona</option>
   
																		                   </optgroup>
           
																		                    <!-- Lombardia -->
           
																		               <optgroup data-rel="Lombardia">
																		              <option value="Bergamo">Bergamo</option>
																		           <option value="Brescia">Brescia</option>
																		           <option value="Como">Como</option>
																		           <option value="Cremona">Cremona</option>
																		           <option value="Lecco">Lecco</option>
																		           <option value="Lodi">Lodi</option>
																		           <option value="Mantova">Mantova</option>
																		           <option value="Milano">Milano</option>
																		           <option value="Monza Brianza">Monza Brianza</option>
																		           <option value="Pavia">Pavia</option>
																		           <option value="Sondrio">Sondrio</option>
																		           <option value="Varese">Varese</option>
   
																		                   </optgroup>    
           
    
    
    
																		            <!-- Marche -->
																		               <optgroup data-rel="Marche">
																		             <option value="Ancona">Ancona</option>
																		           <option value="Ascoli Piceno">Ascoli Piceno</option>
																		           <option value="Macerata">Macerata</option>
																		          <option value="Pesaro e Urbino">Pesaro e Urbino</option>
   
																		                   </optgroup>
           
           
																		                    <!-- Molise -->
																		               <optgroup data-rel="Molise">
																		             <option value="Campobasso">Campobasso</option>
  
																		          <option value="Isernia">Isernia</option>

   
																		                   </optgroup>
           
           
           
																		            <!-- Piemonte -->
																		               <optgroup data-rel="Piemonte">
																		             <option value="Alessandria">Alessandria</option>
																		           <option value="Asti">Asti</option>
																		           <option value="Biella">Biella</option>
																		           <option value="Cuneo">Cuneo</option>
																		           <option value="Novara">Novara</option>
																		           <option value="Torino">Torino</option>
																		           <option value="Verb-Cus-Ossola">Verb-Cus-Ossola</option>
																		           <option value="Vercelli">Vercelli</option>
   
																		                   </optgroup>
           
																		                   <!-- Puglia -->
																		               <optgroup data-rel="Puglia">
																		             <option value="Bari">Bari</option>
																		           <option value="Barletta-Andria-Trani">Barletta-Andria-Trani</option>
																		           <option value="Brindisi">Brindisi</option>
																		           <option value="Foggia">Foggia</option>
																		           <option value="Lecce">Lecce</option>
																		           <option value="Taranto">Taranto</option>
   
																		                   </optgroup>
           
																		                   <!-- Sardegna -->
																		               <optgroup data-rel="Sardegna">
																		             <option value="Cagliari">Cagliari</option>
																		           <option value="Nuoro">Nuoro</option>
																		           <option value="Olbia-Tempio">Olbia-Tempio</option>
																		           <option value="Oristano">Oristano</option>
																		           <option value="Sassari">Sassari</option>
   
																		                   </optgroup>
           
																		                   <!-- Sicilia -->
																		               <optgroup data-rel="Sicilia">
  
																		           <option value="Agrigento">Agrigento</option>
																		           <option value="Caltanissetta">Caltanissetta</option>
																		           <option value="Catania">Catania</option>
																		           <option value="Enna">Enna</option>
																		           <option value="Messina">Messina</option>
																		           <option value="Palermo">Palermo</option>
																		           <option value="Ragusa">Ragusa</option>
																		           <option value="Siracusa">Siracusa</option>
																		           <option value="Trapani">Trapani</option>
   
																		                   </optgroup>
   
   
																		            <!-- Toscana -->
																		               <optgroup data-rel="Toscana">
  
																		           <option value="Arezzo">Arezzo</option>
																		          <option value="Firenze">Firenze</option>
																		           <option value="Grosseto">Grosseto</option>
																		           <option value="Livorno">Livorno</option>
																		           <option value="Lucca">Lucca</option>
																		           <option value="Massa Carrara">Massa Carrara</option>
																		          <option value="Pisa">Pisa</option>
																		         <option value="Pistoia">Pistoia</option>
																		           <option value="Prato">Prato</option>
																		           <option value="Siena">Siena</option>
   
																		                   </optgroup>
           
																		          <!-- Trentino Alto Adige -->
																		               <optgroup data-rel="Trentino Alto Adige">
    
																		          <option value="Bolzano">Bolzano</option>
																		           <option value="Trento">Trento</option>
   
																		                   </optgroup>       
           
  
  
																		          <!-- Umbria -->
																		               <optgroup data-rel="Umbria">
    
																		         <option value="Perugia">Perugia</option>
																		           <option value="Terni">Terni</option>
   
																		                   </optgroup>       
           
           
																		          <!-- Valle d'Aosta -->
																		               <optgroup data-rel="Valle d'Aosta">
    
																		         <option value="Aosta">Aosta</option>
  
   
																		                   </optgroup>    
  
  
																		           <!-- Veneto -->
																		               <optgroup data-rel="Veneto">
  
																		          <option value="Belluno">Belluno</option>
																		          <option value="Padova">Padova</option>
																		          <option value="Rovigo">Rovigo</option>
																		          <option value="Treviso">Treviso</option>
																		           <option value="Venezia">Venezia</option>
																		            <option value="Verona">Verona</option>
																		          <option value="Vicenza">Vicenza</option>
   
																		                   </optgroup>
           
																		             </select>
   										                                             <span class="material-input"></span>
   										                                         </div>
										                                         <div class="form-group label-floating is-empty bmd-form-group">
										                                             <label for="exampleMessage1" class="bmd-label-floating">Messaggio opzionale</label>
										                                             <textarea name="message" class="form-control" id="exampleMessage1" rows="6"></textarea>
										                                             <span class="material-input"></span>
										                                         </div>
										                                     </div>
										                                     <div class="card-footer justify-content-between">
										                                         <div class="form-check" style="visibility:hidden">
										                                             <label class="form-check-label">
										                                                 <input class="form-check-input" type="checkbox" value=""> I'm not a robot
										                                                 <span class="form-check-sign">
										                                                     <span class="check"></span>
										                                                 </span>
										                                             </label>
										                                         </div>
										                                         <button type="submit" class="btn btn-primary pull-right">Invia</button>
										                                     </div>
										                                 </form>
										                             </div>
										                         </div>
										                     </div>
										                 </div>
										             </div>
	                                 </div>
	                                 <div class="tab-pane active show" id="pill2">
										 <div class="pt-5">
										                 <div class="container">
										                     <div class="row">
										                         <div class="col-md-5">
										                             <h2 class="title">Aziende</h2>
										                             <h5 class="description">La vostra richiesta sarà subito esaminata e sarete contattati in giornata da un nostro addetto che fornirà tutte le informazioni e/o il preventivo di cui avete bisogno</h5>
										                          
										                             <div class="info info-horizontal" style="display:none">
										                                 <div class="icon icon-primary">
										                                     <i class="material-icons">phone</i>
										                                 </div>
										                                 <div class="description">
										                                     <h4 class="info-title">Parliamone</h4>
										                                     <p> Nome Cognome
										                                         <br> <a href="tel:+3991321762">+39 091 321 762</a>
										                                         <br> Lun - Ven, 8:00-22:00
										                                     </p>
										                                 </div>
										                             </div>
										                         </div>
										                         <div class="col-md-5 ml-auto">
										                             <div class="card card-contact">
										                                 <form id="contact-form-azienda" method="post" name="richiesta_servizio_aziende" netlify action="/conferma">
																			  <input type="hidden" name="servizio" id="service" value="">
										                                     <div class="card-header card-header-raised card-header-primary text-center">
										                                         <h4 class="card-title">Compila il Modulo</h4>
										                                     </div>
										                                     <div class="card-body">
										                                        
										                                                 <div class="form-group label-floating is-empty bmd-form-group">
										                                                     <label class="bmd-label-floating">Ragione Sociale</label>
										                                                     <input type="text" name="ragione_sociale" class="form-control" required="true" aria-required="true" aria-invalid="true">
										                                                     <span class="material-input"></span>
										                                                 </div>
										                                             
	   										                                         <div class="form-group label-floating is-empty bmd-form-group">
	   										                                             <label class="bmd-label-floating"></label>
	   																					
																						             <select name="regione" id="category1" class="selectpicker " data-style="select-with-transition"  data-size="7" required="true" aria-required="true" aria-invalid="true">
																						     <option  value=''>Seleziona Regione</option>         
																						   <option value='Abruzzo'>Abruzzo</option>
																						   <option value='Basilicata'>Basilicata</option>
																						   <option value='Calabria'>Calabria</option>
																						   <option value='Campania'>Campania</option>
																						   <option value='Emilia Romagna'>Emilia Romagna</option>
																						   <option value='Friuli Venezia Giulia'>Friuli Venezia Giulia</option>
																						   <option value='Lazio'>Lazio</option>
																						   <option value='Liguria'>Liguria</option>
																						   <option value='Lombardia'>Lombardia</option>
																						   <option value='Marche'>Marche</option>
																						   <option value='Molise'>Molise</option>
																						   <option value='Piemonte'>Piemonte</option>
																						   <option value='Puglia'>Puglia</option>
																						   <option value='Sardegna'>Sardegna</option>
																						   <option value='Sicilia'>Sicilia</option>
																						   <option value='Toscana'>Toscana</option>
																						   <option value='Trentino Alto Adige'>Trentino Alto Adige</option>
																						   <option value='Umbria'>Umbria</option>
																						   <option value="Valle d'Aosta'">Valle d'Aosta</option>
																						   <option value='Veneto'>Veneto</option>
																						             </select>
																				             
																						 
																						 <span class="material-input"></span>
	   										                                         </div>
										                                            
   										                                         <div class="form-group label-floating is-empty bmd-form-group">
   										                                             <label class="bmd-label-floating"></label>
																		             <select disabled="disabled" class="subcat " id="category2" name="provincia" required="true" aria-required="true" aria-invalid="true">
																		             <option disabled value=''>Seleziona Provincia</option>    
																		               <!-- Abruzzo -->
																		               <optgroup data-rel="Abruzzo">
         
																		                <option value="Chieti">Chieti</option>
																		                <option value="L\'Aquila">L\'Aquila</option>
																		               <option value="Pescara">Pescara</option>
																		                 <option value="Teramo">Teramo</option>
																		               </optgroup>
																		               <!-- Basilicata -->
																		               <optgroup data-rel="Basilicata">
         
																		                <option value="Matera">Matera</option>
																		                <option value="Potenza">Potenza</option>
       
																		               </optgroup>
      
																		              <!-- Basilicata -->
																		               <optgroup data-rel="Calabria">
         
																		               <option value="Catanzaro">Catanzaro</option>
																		           <option value="Cosenza">Cosenza</option>
																		           <option value="Crotone">Crotone</option>
																		           <option value="Reggio Calabria">Reggio Calabria</option>
																		           <option value="Vibo Valentia">Vibo Valentia</option>
       
																		               </optgroup>
      
																		                <!-- Campania -->
																		               <optgroup data-rel="Campania">
																		               <option value="Avellino">Avellino</option>
																		           <option value="Benevento">Benevento</option>
																		           <option value="Caserta">Caserta</option>
																		           <option value="Napoli">Napoli</option>
																		           <option value="Salerno">Salerno</option>
																		                   </optgroup>
           
																		                    <!-- Emilia Romagna -->
																		               <optgroup data-rel="Emilia Romagna">
																		              <option value="Bologna">Bologna</option>
																		           <option value="Ferrara">Ferrara</option>
																		           <option value="Forl&igrave;-Cesena">Forl&igrave;-Cesena</option>
																		           <option value="Modena">Modena</option>
																		           <option value="Parma">Parma</option>
																		           <option value="Piacenza">Piacenza</option>
																		           <option value="Ravenna">Ravenna</option>
																		           <option value="Repubblica di San Marino">Repubblica di San Marino</option>
																		           <option value="Rimini">Rimini</option>
																		                   </optgroup>
           
																		                   <!-- Friuli Venezia Giulia -->
																		               <optgroup data-rel="Friuli Venezia Giulia">
																		              <option value="" selected>Seleziona</option>
																		           <option value="Gorizia">Gorizia</option>
																		           <option value="Pordenone">Pordenone</option>
																		           <option value="Trieste">Trieste</option>
																		           <option value="Udine">Udine</option>
																		                   </optgroup>
      
																		               <!-- Lazio -->
																		               <optgroup data-rel="Lazio">
																		              <option value="Frosinone">Frosinone</option>
																		           <option value="Latina">Latina</option>
																		           <option value="Rieti">Rieti</option>
																		           <option value="Roma">Roma</option>
																		           <option value="Viterbo">Viterbo</option>
   
																		                   </optgroup>
           
																		                    <!-- Liguria -->
																		               <optgroup data-rel="Liguria">
																		              <option value="Frosinone">Frosinone</option>
																		           <option value="" selected>Seleziona</option>
																		           <option value="Genova">Genova</option>
																		           <option value="Imperia">Imperia</option>
																		           <option value="La Spezia">La Spezia</option>
																		           <option value="Savona">Savona</option>
   
																		                   </optgroup>
           
																		                    <!-- Lombardia -->
           
																		               <optgroup data-rel="Lombardia">
																		              <option value="Bergamo">Bergamo</option>
																		           <option value="Brescia">Brescia</option>
																		           <option value="Como">Como</option>
																		           <option value="Cremona">Cremona</option>
																		           <option value="Lecco">Lecco</option>
																		           <option value="Lodi">Lodi</option>
																		           <option value="Mantova">Mantova</option>
																		           <option value="Milano">Milano</option>
																		           <option value="Monza Brianza">Monza Brianza</option>
																		           <option value="Pavia">Pavia</option>
																		           <option value="Sondrio">Sondrio</option>
																		           <option value="Varese">Varese</option>
   
																		                   </optgroup>    
           
    
    
    
																		            <!-- Marche -->
																		               <optgroup data-rel="Marche">
																		             <option value="Ancona">Ancona</option>
																		           <option value="Ascoli Piceno">Ascoli Piceno</option>
																		           <option value="Macerata">Macerata</option>
																		          <option value="Pesaro e Urbino">Pesaro e Urbino</option>
   
																		                   </optgroup>
           
           
																		                    <!-- Molise -->
																		               <optgroup data-rel="Molise">
																		             <option value="Campobasso">Campobasso</option>
  
																		          <option value="Isernia">Isernia</option>

   
																		                   </optgroup>
           
           
           
																		            <!-- Piemonte -->
																		               <optgroup data-rel="Piemonte">
																		             <option value="Alessandria">Alessandria</option>
																		           <option value="Asti">Asti</option>
																		           <option value="Biella">Biella</option>
																		           <option value="Cuneo">Cuneo</option>
																		           <option value="Novara">Novara</option>
																		           <option value="Torino">Torino</option>
																		           <option value="Verb-Cus-Ossola">Verb-Cus-Ossola</option>
																		           <option value="Vercelli">Vercelli</option>
   
																		                   </optgroup>
           
																		                   <!-- Puglia -->
																		               <optgroup data-rel="Puglia">
																		             <option value="Bari">Bari</option>
																		           <option value="Barletta-Andria-Trani">Barletta-Andria-Trani</option>
																		           <option value="Brindisi">Brindisi</option>
																		           <option value="Foggia">Foggia</option>
																		           <option value="Lecce">Lecce</option>
																		           <option value="Taranto">Taranto</option>
   
																		                   </optgroup>
           
																		                   <!-- Sardegna -->
																		               <optgroup data-rel="Sardegna">
																		             <option value="Cagliari">Cagliari</option>
																		           <option value="Nuoro">Nuoro</option>
																		           <option value="Olbia-Tempio">Olbia-Tempio</option>
																		           <option value="Oristano">Oristano</option>
																		           <option value="Sassari">Sassari</option>
   
																		                   </optgroup>
           
																		                   <!-- Sicilia -->
																		               <optgroup data-rel="Sicilia">
  
																		           <option value="Agrigento">Agrigento</option>
																		           <option value="Caltanissetta">Caltanissetta</option>
																		           <option value="Catania">Catania</option>
																		           <option value="Enna">Enna</option>
																		           <option value="Messina">Messina</option>
																		           <option value="Palermo">Palermo</option>
																		           <option value="Ragusa">Ragusa</option>
																		           <option value="Siracusa">Siracusa</option>
																		           <option value="Trapani">Trapani</option>
   
																		                   </optgroup>
   
   
																		            <!-- Toscana -->
																		               <optgroup data-rel="Toscana">
  
																		           <option value="Arezzo">Arezzo</option>
																		          <option value="Firenze">Firenze</option>
																		           <option value="Grosseto">Grosseto</option>
																		           <option value="Livorno">Livorno</option>
																		           <option value="Lucca">Lucca</option>
																		           <option value="Massa Carrara">Massa Carrara</option>
																		          <option value="Pisa">Pisa</option>
																		         <option value="Pistoia">Pistoia</option>
																		           <option value="Prato">Prato</option>
																		           <option value="Siena">Siena</option>
   
																		                   </optgroup>
           
																		          <!-- Trentino Alto Adige -->
																		               <optgroup data-rel="Trentino Alto Adige">
    
																		          <option value="Bolzano">Bolzano</option>
																		           <option value="Trento">Trento</option>
   
																		                   </optgroup>       
           
  
  
																		          <!-- Umbria -->
																		               <optgroup data-rel="Umbria">
    
																		         <option value="Perugia">Perugia</option>
																		           <option value="Terni">Terni</option>
   
																		                   </optgroup>       
           
           
																		          <!-- Valle d'Aosta -->
																		               <optgroup data-rel="Valle d'Aosta">
    
																		         <option value="Aosta">Aosta</option>
  
   
																		                   </optgroup>    
  
  
																		           <!-- Veneto -->
																		               <optgroup data-rel="Veneto">
  
																		          <option value="Belluno">Belluno</option>
																		          <option value="Padova">Padova</option>
																		          <option value="Rovigo">Rovigo</option>
																		          <option value="Treviso">Treviso</option>
																		           <option value="Venezia">Venezia</option>
																		            <option value="Verona">Verona</option>
																		          <option value="Vicenza">Vicenza</option>
   
																		                   </optgroup>
           
																		             </select>
   										                                             <span class="material-input"></span>
   										                                         </div> 
										                                      
										                                         <div class="form-group label-floating is-empty bmd-form-group">
										                                             <label class="bmd-label-floating"></label>
																					 <select name="tipologia" class="selectpicker " data-style="select-with-transition" title="Tipo di Azienda" data-size="7" required="true" aria-required="true" aria-invalid="true">
																					    
																					    <option value="Istituto di Credito">Istituto di Credito</option>
																						<option value="GDO">G.D.O.</option>
																						  <option value="Esercizio Commerciale">Esercizio Commerciale</option>
																						   <option value="Tabacchi">Tabacchi</option>
																						    <option value="Farmacia">Farmacia</option>
																							 <option value="Altro">Altro</option>
																					 </select>
										                                             <span class="material-input"></span>
										                                         </div>
										                                         <div class="form-group label-floating is-empty bmd-form-group">
										                                             <label class="bmd-label-floating">Cellulare</label>
										                                             <input type="text" name="cell" class="form-control" required="true" aria-required="true" aria-invalid="true">
										                                             <span class="material-input"></span>
										                                         </div>
										                                         <div class="form-group label-floating is-empty bmd-form-group">
										                                             <label class="bmd-label-floating">Email </label>
										                                             <input type="email" name="email" class="form-control" required="true" aria-required="true" aria-invalid="true">
										                                             <span class="material-input"></span>
										                                         </div>
										                                        
										                                         <div class="form-group label-floating is-empty bmd-form-group">
										                                             <label for="exampleMessage1" class="bmd-label-floating">Messaggio opzionale</label>
										                                             <textarea name="messaggio" class="form-control" id="exampleMessage1" rows="6"></textarea>
										                                             <span class="material-input"></span>
										                                         </div>
										                                     </div>
										                                     <div class="card-footer justify-content-between">
										                                         <div class="form-check" style="visibility:hidden">
										                                             <label class="form-check-label">
										                                                 <input class="form-check-input" type="checkbox" value=""> I'm not a robot
										                                                 <span class="form-check-sign">
										                                                     <span class="check"></span>
										                                                 </span>
										                                             </label>
										                                         </div>
										                                         <button type="submit" class="btn btn-primary pull-right">Invia</button>
										                                     </div>
										                                 </form>
										                             </div>
										                         </div>
										                     </div>
										                 </div>
										             </div>
										 
	                                 </div>
	                                
	                             </div>
	                         </div>
	                     </div>
	                     <div class="row">
                        
                        
                        
	                     </div>
	                 </div>
 </div>



{% endblock %}

