<!-- index.html -->
{% extends "default.html" %}

{% block content %}
{% import 'macro/bodyClass.html' as body %}
{{body.class('about-us')}}

{% include "partials/nav.html" %}
{% for page in pages %}			

{% if page.slug == "servizio-di-televideosorveglianza" %}


	  
 <div class="page-header header-filter header-small  " filter-color=""data-parallax="true" style="background-image: url({{page.feature_image}});">
     <div class="container ">
         <div class="row">
             <div class="col-md-8 ml-auto mr-auto text-center">
                  <h1 class="title">{{page.title}}</h2>
					 <a class="btn btn-success" >RICHIEDI IL SERVIZIO</a>
                 
             </div>
         </div>
     </div>
 </div>
 <div class="main main-raised ">
	 <div class="container">
		 <div class=" section section-text">
			 <div class="">
				 <div class="row">
					 <div class="col-md-8 ml-auto mr-auto text-left ghost-html">
						 {{page.html | safe}}
					 </div>
				 </div>
			 </div>
		 </div>
	 </div>
 </div>

{% endif  %}

	{% endfor %}
{% endblock %}

