<!-- index.html -->
{% extends "default.html" %}
{% block meta %}
						{% for page in pages %}			

						{% if page.slug == "soccorso-personale" %}
						<meta name="description" content="{{page.meta_description}}">
						<meta name="author" content="Sicurtransport S.p.A.">
						
							
								
							
								
							
						
						
						
						<meta property="og:site_name" content="Sicurtransport.it">
						    <meta property="og:type" content="website">
						    <meta property="og:title" content="{{page.title}}">
						    <meta property="og:description" content="{{page.excerpt}}">
						    <meta property="og:url" content="https://www.sicurtransport.com/{{page.slug}}">
						    <meta property="og:image" content="{{page.feature_image}}">
							{% for tag in page.tags %}
							<meta property="article:tag" content="{{tag.name}}">
							{% endfor %}
						    
						   
    
						 
						    <meta name="twitter:card" content="summary_large_image">
						    <meta name="twitter:title" content="{{page.title}}">
						    <meta name="twitter:description" content="{{page.excerpt}}">
						    <meta name="twitter:url" content="https://www.sicurtransport.com/{{page.slug}}">
						    <meta name="twitter:image" content="{{page.feature_image}}">
						    
					
						  
						
						
						{% endif  %}

							{% endfor %}
                        

{% endblock %}
{% block content %}
{% import 'macro/bodyClass.html' as body %}
{{body.class('about-us')}}

{% include "partials/nav.html" %}
{% for page in pages %}			

{% if page.slug == "soccorso-personale" %}


	  
 <div class="page-header header-filter header-small  " filter-color=""data-parallax="true" style="background-image: url({{page.feature_image}});">
     <div class="container ">
         <div class="row">
             <div class="col-md-8 ml-auto mr-auto text-center">
                  <h1 class="title">{{page.title}}</h2>
					 <a  href="/richiesta.html?bg={{page.feature_image}}&service={{page.slug}}" class="btn btn-success" >RICHIEDI IL SERVIZIO</a>
                 
             </div>
         </div>
     </div>
 </div>
 <div class="main main-raised ">
	 <div class="container">
		 <div class=" section section-text">
			 <div class="">
				 <div class="row">
					 <div class="col-md-8 ml-auto mr-auto text-left ghost-html">
						 {{page.html | safe}}
					 </div>
				 </div>
			 </div>
		 </div>
	 </div>
 </div>

{% endif  %}

	{% endfor %}
{% endblock %}

