<!-- index.html -->
{% extends "default.html" %}
{% block meta %}
						{% for page in pages %}			

						{% if page.slug == "vigilanza-fissa" %}
						<title>{{page.meta_title}}</title><meta name="description" content="{{page.meta_description}}">
						    <meta name="HandheldFriendly" content="True" />
						    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

						    <link rel="stylesheet" type="text/css" href="/assets/built/screen.css?v=f476e00f65" />

						    <meta name="description" content="{{page.meta_description}}" />
						    <link rel="shortcut icon" href="/favicon.png" type="image/png" />
						    <link rel="canonical" href="https://nuovo.sicurtransport.com/static" />
						    <meta name="referrer" content="no-referrer-when-downgrade" />
    
						    <meta property="og:site_name" content="Sicurtransport.it" />
						    <meta property="og:type" content="article" />
						    <meta property="og:title" content="{{page.meta_title}}" />
						    <meta property="og:description" content="{{page.meta_description}}" />
						    
							<meta property="og:url" content="https://nuovo.sicurtransport.com/{{page.slug}}">
							
							<meta property="og:image" content="{{page.feature_image}}">
						   
						
						{% for tag in page.tags %}
						<meta property="article:tag" content="{{tag.name}}">
						{% endfor %}
    
						    <meta property="article:publisher" content="https://www.facebook.com/sicurtransport" />
						    <meta name="twitter:card" content="summary_large_image" />
					    <meta name="twitter:title" content="{{page.meta_title}}">
					    <meta name="twitter:description" content="{{page.meta_description}}">
					    <meta name="twitter:url" content="https://nuovo.sicurtransport.com/{{page.slug}}">
					    <meta name="twitter:image" content="{{page.feature_image}}">
						
						
						    <meta name="twitter:label1" content="Written by" />
						    <meta name="twitter:data1" content="Sicurtransport" />
						    <meta name="twitter:label2" content="Filed under" />
							
						    <meta name="twitter:data2" content="{% for tag in page.tags %}{{tag.name}},{% endfor %}" />
						    <meta name="twitter:site" content="@sicurtransport" />
						    <meta property="og:image:width" content="1752" />
						    <meta property="og:image:height" content="842" />
    
						    <script type="application/ld+json">
						{
						    "@context": "https://schema.org",
						    "@type": "Article",
						    "publisher": {
						        "@type": "Organization",
						        "name": "Sicurtransport CMS",
						        "logo": "https://cms.sicurtransport.com/content/images/2019/03/logo-w.png"
						    },
						    "author": {
						        "@type": "Person",
						        "name": "Webmaster",
						        "sameAs": []
						    },
						    "headline": "{{page.meta_title}}",
						    "url": "https://nuovo.sicurtransport.com/{{page.slug}}",
						    "image": {
						        "@type": "ImageObject",
						        "url": "{{page.feature_image}}",
						        "width": 1752,
						        "height": 842
						    },
						    "keywords": "{% for tag in page.tags %}{{tag.name}},{% endfor %}",
						    "description": "{{page.meta_description}}",
						    "mainEntityOfPage": {
						        "@type": "WebPage",
						        "@id": "https://nuovo.sicurtransport.com/"
						    }
						}
						    </script>
						    
					
						  
						
						
						{% endif  %}

							{% endfor %}
                        

{% endblock %}
{% block content %}
{% import 'macro/bodyClass.html' as body %}
{{body.class('about-us')}}

{% include "partials/nav.html" %}
{% for page in pages %}			

{% if page.slug == "vigilanza-fissa" %}


	  
 <div class="page-header header-filter-dark header-small  " filter-color=""data-parallax="true" style="background-image: url({{page.feature_image}});">
     <div class="container ">
         <div class="row">
             <div class="col-md-8 ml-auto mr-auto text-center">
                  <h1 class="title">{{page.title}}</h2>
					
					 <a  href="/richiesta.html?bg={{page.feature_image}}&service={{page.slug}}" class="btn btn-success" >RICHIEDI IL SERVIZIO</a>
                 
             </div>
         </div>
     </div>
 </div>
 <div class="main main-raised ">
	 <div class="container">
		 <div class=" section section-text">
			 <div class="">
				 <div class="row">
					 <div class="col-md-8 ml-auto mr-auto text-left ghost-html">
						 {{page.html | safe}}
					 </div>
				 </div>
			 </div>
		 </div>
	 </div>
 </div>

{% endif  %}

	{% endfor %}
{% endblock %}

