                <div class="social-line social-line-big-icons social-line-white">
                    <div class="container">
						<div class="title">
							<h2 class="title">Ci hanno scelto:</h2>
				
						</div>
                       <div class="row">
                           <div class="col-md-2 client zara">
                              
                           </div>
						
                           <div class="col-md-2 client pittarosso">
                              
                           </div>
						
                           <div class="col-md-2 client unicredit">
                              
                           </div>
						
                           <div class="col-md-2 client cariparma">
                              
                           </div>
						
                           <div class="col-md-2 client esselunga">
                              
                           </div>
						
                           <div class="col-md-2 client fincantieri">
                              
                           </div>
                          
					   
					   
                       </div>
                    </div>
                </div>