  <div class="header-3 offer-header">

      <!-- Carousel Card -->
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
			   {% set n = 0 %}
           	{% for page in pages %}
			{% if page.featured %}
			
				{% for tag in page.tags %}
					{% if tag.name=="servizi" %}
					{% if n==0 %}  <li class="active" data-target="#carouselExampleIndicators" data-slide-to="{{n}}"  ></li> 
					
					{% endif %}
					
					{% if n > 0 %} 
					  <li data-target="#carouselExampleIndicators" data-slide-to="{{n}}" ></li>
					  {% endif  %}
					   {% set n = n +1 %}
					   
							{% endif  %}
						{% endfor %}
					
					{% endif  %}	
					{% endfor  %}
              
          </ol>
          <div class="carousel-inner">
			  {% set a = 0 %}
             	{% for page in pages %}
				{% if page.featured %}
				
					{% for tag in page.tags %}
						{% if tag.name=="servizi" %}
		                <div class="carousel-item {% if a==0 %} active {% endif %} ">
		                    <div class="page-header header-filter" filter-color="white"  style="background-image: url('{{page.feature_image}}');">
		                        <div class="container">
		                            <div class="row">
		                                <div class="col-md-6 text-left">

		                                    <h2 class="title text-default ">
												{% for icon in page.tags %}
													{% if icon.name=="vigilanza" %}
													<i class="icon-vigilanza"></i>
													{% endif  %}
													
													{% if icon.name=="Casseforti Intelligenti" %}
													<i class="icon-valori"></i>
													{% endif  %}
													
													{% if icon.name=="cybersecurity" %}
													<i class="icon-cyber"></i>
													{% endif  %}
													
													
												{% endfor %}
		                                  {{page.title}}</h2>

		                                    <p class="title text-default" style="font-weight:500">{{page.excerpt}}</p>

		                                    <div class="buttons pt-4 ">
		                                        <a href="{{page.slug}}.html" class="btn btn-success   	d-none d-sm-block mt-4" style="width: 66%;" >
		                                         Continua
		                                        </a>
		                                        <a href="{{page.slug}}.html" class="btn btn-success btn 	d-block d-sm-none mt-4"  style="width: 66%;margin: auto;">
		                                          Continua
		                                        </a>


		                                    </div>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
						{% set a = a + 1%}
						{% endif  %}
					{% endfor %}
					
				{% endif  %}	
				{% endfor  %}
								 
								 
								 
              
           
          </div>
          <a class="carousel-control-prev  d-xl-block" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <i class="material-icons">keyboard_arrow_left</i>
              <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next d-xl-block" href="#carouselExampleIndicators" role="button" data-slide="next">
              <i class="material-icons">keyboard_arrow_right</i>
              <span class="sr-only">Next</span>
          </a>
      </div>
      <!-- End Carousel Card -->
  </div>