                    <footer class="footer footer-big mt-4">
                        <div class="container mt-4">
                            <div class="content">
                                <div class="row">
                                    
                                    <div class="col-md-4">
                                        <h5>Trasporto Valori </h5>
                                        <ul class="links-vertical">
											
				   						 {% for page in pages %}
						 	
				   						  {% for tag in page.tags %}			

				   						 {% if tag.name == "valori" %}
                                         <li>
											<a href="/{{page.slug}}.html"class="dropdown-item">
												{{page.codeinjection_head | safe}} {{page.title}}
											</a>
										</li>
                            
				   						 {% endif  %}
                                           
				   						 	{% endfor %}
				   							{% endfor %}
											
											

                                            
                                            
                                        </ul>
                                       
                                    </div>
                                    <div class="col-md-4">
                                        <h5>Vigilanza</h5>
                                        <ul class="links-vertical">
					   						 {% for page in pages %}
						 	
					   						  {% for tag in page.tags %}			

					   						 {% if tag.name == "vigilanza" %}
	                                         <li>
												<a href="/{{page.slug}}.html"class="dropdown-item">
													{{page.codeinjection_head | safe}} {{page.title}}
												</a>
											</li>
                            
					   						 {% endif  %}
                                           
					   						 	{% endfor %}
					   							{% endfor %}
                                          
											
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <h5>Casseforti Intelligenti</h5>
                                        <ul class="links-vertical">
				   						 {% for page in pages %}
					 	
				   						  {% for tag in page.tags %}			

				   						 {% if tag.name == "Casseforti Intelligenti" %}
                                         <li>
											<a href="/{{page.slug}}.html"class="dropdown-item">
												{{page.codeinjection_head | safe}} {{page.title}}
											</a>
										</li>
                           
				   						 {% endif  %}
                                          
				   						 	{% endfor %}
				   							{% endfor %}
                                           
                                         
                                         
                                        </ul>
										<br/>
                                        <h5>CyberSecurity</h5>
                                        <ul class="links-vertical">
   				   						 {% for page in pages %}
					 	
   				   						  {% for tag in page.tags %}			

   				   						 {% if tag.name == "cybersecurity" %}
                                            <li>
   											<a href="/{{page.slug}}.html"class="dropdown-item">
   												{{page.codeinjection_head | safe}} {{page.title}}
   											</a>
   										</li>
                           
   				   						 {% endif  %}
                                          
   				   						 	{% endfor %}
   				   							{% endfor %}
                                           
                                        </ul>
								
                                        
                                    </div>
                                  
                                </div>
                            </div>
                            <hr>
                            <ul class="social-buttons">
                                <li>
                                    <a href="https://twitter.com/Sicurtransport" target="_blank" class="btn btn-just-icon btn-link btn-twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/Sicurtransport/" target="_blank"  class="btn btn-just-icon btn-link btn-facebook">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                </li>
                                
                            </ul>
                           
                        </div>
                    </footer>