                    <footer class="footer footer-big mt-4">
                        <div class="container mt-4">
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-3 brand">
                                        
                                    </div>
                                    <div class="col-md-3">
                                        <h5>Trasporto Valori </h5>
                                        <ul class="links-vertical">
                                            <li>
				                              <a href="#" class="dropdown-item">
					                                  <i class="material-icons">local_shipping</i> Trasporto Valori
					                              </a>
					                          
				                             
				                              
                                            </li>
                                            <li>
			                              <a href="#" class="dropdown-item">
			                                  <i class="material-icons">local_atm</i> Gestione Atm Bancomat
			                              </a>
			                             
			                              
                                            </li>
                                            <li>
   			                              <a href="#" class="dropdown-item">
   			                                  <i class="material-icons">list</i> Ritiro e Custodia
   			                              </a>
   			                             
				                              
                                            </li>
                                            <li>
	    			                              <a href="#" class="dropdown-item">
	    			                                  <i class="material-icons">money</i> Contazione
	    			                              </a>
	    			                             
 				                              
                                            </li>
                                            <li>
   			                              <a href="#" class="dropdown-item">
   			                                  <i class="material-icons">lock</i> MoneyInTransit
   			                              </a>
				                              
                                            </li>
                                            
                                        </ul>
                                       
                                    </div>
                                    <div class="col-md-3">
                                        <h5>Vigilanza</h5>
                                        <ul class="links-vertical">
                                            <li>
				                              <a href="#" class="dropdown-item">
				                                   <i  class="icon-vigilanza material-icons"></i>  Casa Sicura
				                              </a>
				                             
				                             
				                              
                                            </li>
                                            <li>
			                              <a href="#" class="dropdown-item">
			                                  <i class="material-icons">person</i> Portierato e Reception
			                              </a>

			                            

				                              
							 
				                              
                                            </li>
                                            <li>
  			                              <a href="#" class="dropdown-item">
  			                                  <i class="material-icons">security</i>Vigilanza Fissa
  			                              </a>
  			                              
				                              
				                               
                                            </li>
                                            <li>
     			                              <a href="#" class="dropdown-item">
     			                                  <i class="material-icons">place</i>Localizzazione e Sicurezza Mezzi
     			                              </a>
     			                              
 				                             
 				                              
                                            </li>
											<li>
   			                              <a href="#" class="dropdown-item">
   			                                  <i class="material-icons">how_to_reg</i>Soccorso Personale
   			                              </a>
   			                             
				                              
  				                              
												
											</li>
											<li>
      			                              <a href="#" class="dropdown-item">
      			                                  <i class="material-icons">videocam</i>Servizio di Video-Ronda
      			                              </a>
      			                             
 				                             
   				                             
												
											</li>
											<li>
        			                              <a href="#" class="dropdown-item">
        			                                  <i class="material-icons">local_taxi</i>Servizio di Ronda
        			                              </a>
        			                             
	  				                             
    				                             
											</li>
											<li>
    			                              <a href="#" class="dropdown-item">
    			                                  <i class="material-icons">video_call</i>Servizio di Televideosorveglianza
    			                              </a>
 				                              
											</li>
											
                                        </ul>
                                    </div>
                                    <div class="col-md-3">
                                        <h5>Casseforti Intelligenti</h5>
                                        <ul class="links-vertical">
                                            <li>
			                                <a href="#" class="dropdown-item">
			                                    <i  class="icon-valori material-icons"></i> S3 CASH
			                                </a>
			                               
                                            </li>
                                         
                                         
                                        </ul>
										<br/>
                                        <h5>CyberSecurity</h5>
                                        <ul class="links-vertical">
                                            <li>
				                                <a href="about-us.html" class="dropdown-item ">
				                                    <i class="material-icons">control_camera</i> DARKTRACE™
				                                </a>
				                               
                                            </li>
                                            <li>
			 	                               <a href="blog-post.html" class="dropdown-item">
			 	                                   <i  class="icon-cyber material-icons"></i> Strategic Risk Consulting
			 	                               </a>
                                            </li>
                                           
                                        </ul>
								
                                        
                                    </div>
                                  
                                </div>
                            </div>
                            <hr>
                            <ul class="social-buttons">
                                <li>
                                    <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#pablo" class="btn btn-just-icon btn-link btn-facebook">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                </li>
                                
                            </ul>
                           
                        </div>
                    </footer>