	
		
	
	<nav class="navbar navbar-transparent fixed-top navbar-expand-lg navbar-color-on-scroll bg-white " color-on-scroll="100">
				<div class="navbar fixed-top  d-md-none d-lg-block		d-none d-sm-block " style="padding:0; height:28px;box-shadow: none;

border-bottom: thin #eee solid;

background-color: rgba(255,255,255,0.8) !important;">	
        

<div class="container collapse navbar-collapse" style="font-size:12px; font-weight:bold ;">

					<ul class="navbar-nav ml-auto">
					                    <li class="nav-item">
					                        <a class="mininav-link" href="about-us.html">
					                            Chi Siamo
					                        </a>
					                    </li>
					                    <li class="nav-item">
					                        <a class="mininav-link" href="http://www.sicurtransport.com/privacy/02.3-InformativaPrivacy.pdf">
					                            Privacy Policy
					                        </a>
					                    </li>
					                    <li class="nav-item">
					                        <a class="mininav-link" href="#">
					                            Etica
					                        </a>
					                    </li>
					                    <li class="nav-item">
					                        <a class="mininav-link" href="contact-us.html">
					                            Contatti
					                        </a>
					                    </li>
                    
                    
                   
					                </ul>
			</div></div>
          <div class="container" style="margin-top:25px">
			   
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-translate">
                  <a class="navbar-brand white" href="index.html" ></a>
                  <button type="button" class="ml-auto navbar-toggler" data-toggle="collapse" data-target="#navigation-example3">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="navbar-toggler-icon"></span>
                      <span class="navbar-toggler-icon"></span>
                      <span class="navbar-toggler-icon"></span>
                  </button>
              </div>
             <div class="collapse navbar-collapse">
                 <ul class="navbar-nav ml-auto">
                    
                     <li class="dropdown nav-item">
                         <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                            <!--  <i class=" icon-valori"></i> --> Trasporto Valori 
                         </a>
                         <div class="dropdown-menu dropdown-with-icons">
                             <a href="#" class="dropdown-item">
                                 <i class="material-icons">local_shipping</i> Trasporto
                             </a>
                             <a hhref="#" class="dropdown-item">
                                 <i class="material-icons">supervisor_account</i> Scorta
                             </a>
                             <a href="#" class="dropdown-item">
                                 <i class="material-icons">list</i> Custodia
                             </a>
                             <a href="#" class="dropdown-item">
                                 <i class="material-icons">money</i> Contazione
                             </a>
                             <a href="#" class="dropdown-item">
                                 <i class="material-icons">lock</i> Casseforti
                             </a>
                             <a href="#" class="dropdown-item">
                                 <i class="material-icons">library_books</i> Trattamento Titoli
                             </a>
                             <a href="#" class="dropdown-item">
                                 <i class="material-icons">local_atm</i> Gestione Bancomat
                             </a>
                             
                           
                            
                         </div>
                     </li>
                     <li class="dropdown nav-item">
                         <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                             <!-- <i class="icon-vigilanza"></i> -->  Vigilanza 
                         </a>
                         <div class="dropdown-menu dropdown-with-icons">
                             <a href="#" class="dropdown-item">
                                 <i class="material-icons">priority_high</i> Armata
                             </a>
                             <a href="#" class="dropdown-item">
                                 <i class="material-icons">pin_drop</i> Satellitare
                             </a>
							 
                             <a href="#" class="dropdown-item">
                                 <i class="material-icons">alarm</i> Sistemi Antintrusione
                             </a>
                             <a href="#" class="dropdown-item">
                                 <i class="material-icons">vpn_key</i> Gestione Chiavi
                             </a>
                             <a href="#" class="dropdown-item">
                                 <i class="material-icons">how_to_reg</i> Metronotte
                             </a>
                             <a href="#" class="dropdown-item">
                                 <i class="material-icons">security</i> Sicurezza Privata
                             </a>
                             <a href="#" class="dropdown-item">
                                 <i class="material-icons">videocam</i> Video Sorveglianza
                             </a>
                             <a href="#" class="dropdown-item">
                                 <i class="material-icons">flight</i> Vigilanza Aeroportuale
                             </a>
                             <a href="#" class="dropdown-item">
                                 <i class="material-icons">directions_boat</i> Vigilanza Portuale
                             </a>
                         </div>
                     </li>
                     <li class="dropdown nav-item">
                         <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                            <!-- <i class=" icon-valori"></i>   --> Casseforti Intelligenti
                         </a>
                         <div class="dropdown-menu dropdown-with-icons">
                             <a href="#" class="dropdown-item">
                                 <i class="material-icons">local_shipping</i> Trasporto
                             </a>
                             <a hhref="#" class="dropdown-item">
                                 <i class="material-icons">supervisor_account</i> Scorta
                             </a>
                             <a href="#" class="dropdown-item">
                                 <i class="material-icons">list</i> Custodia
                             </a>
                             <a href="#" class="dropdown-item">
                                 <i class="material-icons">money</i> Contazione
                             </a>
                             <a href="#" class="dropdown-item">
                                 <i class="material-icons">lock</i> Casseforti
                             </a>
                             <a href="#" class="dropdown-item">
                                 <i class="material-icons">library_books</i> Trattamento Titoli
                             </a>
                             <a href="#" class="dropdown-item">
                                 <i class="material-icons">local_atm</i> Gestione Bancomat
                             </a>
                             
                           
                            
                         </div>
                     </li>
                     <li class="dropdown nav-item">
                         <a href="#" class=" nav-link dropdown-toggle " data-toggle="dropdown" >
                            <!-- <i class=" icon-cyber"></i>&nbsp;  -->  Cybersecurity
                         </a>
                         <div class="dropdown-menu dropdown-with-icons ">
							
                             <a href="about-us.html" class="dropdown-item d-none">
                                 <i class="material-icons">control_camera</i> Chi Siamo
                             </a>
                             <a href="blog-post.html" class="dropdown-item">
                                 <i class="material-icons">art_track</i> Dettaglio Servizio
                             </a>
                             <a href="blog-posts.html" class="dropdown-item d-none">
                                 <i class="material-icons">view_quilt</i> Lista Servizi
                             </a>
                             <a href="contact-us.html" class="dropdown-item d-none">
                                 <i class="material-icons">location_on</i> Contattaci
                             </a>
                             <a href="landing-page.html" class="dropdown-item d-none">
                                 <i class="material-icons">view_day</i> Pagina
                             </a>
                             <a href="login-page.html" class="dropdown-item d-none">
                                 <i class="material-icons">fingerprint</i> Login 
                             </a>
                             <a href="pricing.html" class="dropdown-item">
                                 <i class="material-icons">attach_money</i> Offerta Commerciale
                             </a>
                             <a href="ecommerce.html" class="dropdown-item d-none">
                                 <i class="material-icons">store</i> Ecommerce Page
                             </a>
                             <a href="product.html" class="dropdown-item">
                                 <i class="material-icons">shopping_cart</i> Prodotto
                             </a>
                            
                             <a href="signup-page.html" class="dropdown-item">
                                 <i class="material-icons">person_add</i> Richiesta Informazioni
                             </a>
                             <a href="profile-page.html" class="dropdown-item">
                                 <i class="material-icons">account_circle</i> Pagina di Profilo
                             </a>
                         </div>
                     </li>
                 </ul>
             </div>
          </div>
         
          </div>
      </nav>