


	<nav class="navbar  fixed-top navbar-expand-lg  bg-white  " >
				<div class="d-lg-block d-sm-none">
					<nav class="navbar  fixed-top  "  style="padding:0; height:28px;box-shadow: none;background-color: transparent !important;

				

">


<div class="container collapse navbar-collapse" style="font-size:12px; font-weight:bold ;">

					<ul class="navbar-nav ml-auto">
					                    <li class="nav-item">
					                        <a class="mininav-link " href="/il-gruppo.html">
					                            Chi Siamo
					                        </a>
					                    </li>
					                    <li class="nav-item">
					                        <a class="mininav-link" href="/assets/privacy/02.3-InformativaPrivacy.pdf" target="_blank">
					                            Privacy Policy
					                        </a>
					                    </li>
					                    <li class="nav-item">
					                        <a class="mininav-link" href="#">
					                            Etica
					                        </a>
					                    </li>
					                    <li class="nav-item">
					                        <a class="mininav-link" href="/contact-us.html">
					                            Contatti
					                        </a>
					                    </li>



					                </ul>
			</div></nav></div>
          <div class="container slimnav" style="margin-top:25px">

              <!-- Brand and toggle get grouped for better mobile display yeah -->
              <div class="navbar-translate">
                  <a class="navbar-brand primary" href="/" ></a>
                  <button type="button" class="ml-auto navbar-toggler" data-toggle="collapse" data-target="#navigation-example3">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="navbar-toggler-icon"></span>
                      <span class="navbar-toggler-icon"></span>
                      <span class="navbar-toggler-icon"></span>
                  </button>
              </div>
             <div class="collapse navbar-collapse">
                 <ul class="navbar-nav ml-auto">

                     <li class="dropdown nav-item">
                         <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                            <!--  <i class=" icon-valori"></i> --> Trasporto Valori
                         </a>
                         <div class="dropdown-menu dropdown-with-icons">
							 
							 {% for page in pages %}
							 	
							  {% for tag in page.tags %}			

							 {% if tag.name == "valori" %}

					
                             <a href="/{{page.slug}}.html" class="dropdown-item">
                                 {{page.codeinjection_head | safe}} {{page.title}}
                             </a>
                            
						 {% endif  %}

						 	{% endfor %}
							{% endfor %}


                         </div>
                     </li>
                     <li class="dropdown nav-item">
                         <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                             <!-- <i class="icon-vigilanza"></i> -->  Vigilanza
                         </a>
                         <div class="dropdown-menu dropdown-with-icons">
								 {% for page in pages %}
							 	
								  {% for tag in page.tags %}			

								 {% if tag.name == "vigilanza" %}

					
	                             <a href="/{{page.slug}}.html" class="dropdown-item">
	                                 {{page.codeinjection_head | safe}} {{page.title}}
	                             </a>
                            
							 {% endif  %}

							 	{% endfor %}
								{% endfor %}
                             
                             
                         </div>
                     </li>
                     <li class="dropdown nav-item ">
                         <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                            <!-- <i class=" icon-valori"></i>   --> Casseforti Intelligenti
                         </a>
                         <div class="dropdown-menu dropdown-with-icons">
                             <a href="#" class="dropdown-item">
                                 <i  class="icon-valori material-icons"></i> S3 CASH
                             </a>
                            


                         </div>
                     </li>
                     <li class="dropdown nav-item">
                         <a href="#" class=" nav-link dropdown-toggle " data-toggle="dropdown" >
                            <!-- <i class=" icon-cyber"></i>&nbsp;  -->  Cybersecurity
                         </a>
                         <div class="dropdown-menu dropdown-with-icons ">

                             <a href="about-us.html" class="dropdown-item ">
                                 <i class="material-icons">control_camera</i> DARKTRACE™
                             </a>
                             <a href="blog-post.html" class="dropdown-item">
                                 <i  class="icon-cyber material-icons"></i> Strategic Risk Consulting
                             </a>
                             
                             
                         </div>
                     </li>
					
                     <li class="nav-item d-lg-none d-sm-block">
                         <a class="nav-link ">
                             &nbsp;
                         </a>
                     </li>
                    <li class="nav-item d-lg-none d-sm-block">
                        <a class="nav-link " href="/il-gruppo.html">
                            Chi Siamo
                        </a>
                    </li>
                    <li class="nav-item d-lg-none d-sm-block">
                        <a class="nav-link" href="/assets/privacy/02.3-InformativaPrivacy.pdf" target="_blank">
                            Privacy Policy
                        </a>
                    </li>
                    <li class="nav-item d-lg-none d-sm-block" >
                        <a class="nav-link" href="#">
                            Etica
                        </a>
                    </li>
                    <li class="nav-item d-lg-none d-sm-block">
                        <a class="nav-link" href="/contact-us.html">
                            Contatti
                        </a>
                    </li>
                 </ul>
             </div>
          </div>

          </div>
      </nav>
