            <div class="projects-1 " id="projects-1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 ml-auto mr-auto text-center">
                            <h3 class="title">Scegli i Servizi</h3>
                            <ul class="nav nav-pills nav-pills-primary">
                               
                                <li class="nav-item">
                                    <a class="nav-link" href="#pill2" data-toggle="tab">Privati</a>
                                </li>
                               
                                <li class="nav-item">
                                    <a class="nav-link" href="#pill3" data-toggle="tab">Aziende</a>
                                </li>
                              
                                
                            </ul>
                            <div class="tab-content tab-space">
                                <div class="tab-pane active" id="pill1">
								
                                </div>
                                <div class="tab-pane" id="pill2">
                                </div>
                                <div class="tab-pane" id="pill3">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card-columns  col-md-12">
                            <div class="card card-raised card-background header-filter" filter-color="primary" style="background-image: url('../assets/img/AdobeStock_41418483_Preview.jpeg')">
                                <div class="card-body mb-5">
                                    <h6 class="card-category text-info"><i style="font-size:2rem!important" class=" icon-valori"></i></h6>
                                    <a href="blog-post.html">
                                        <h3 class="card-title">S3 Cash </h3><h5 class="card-title">Depositi H24, Accrediti in 24H</h5>
                                    </a>
                                    <p class="card-description mt-5">
                                       Il sistema,installato presso il cliente e operato in sinergia con l’Istituto di Credito consente il versamento delle somme in loco e l'accredito automatico nel c/c entro 24H. 
                                    </p>
                                    <a href="blog-post.html" class="btn btn-s5 btn-round">
                                        <i class="material-icons">subject</i> Maggiori Informazioni
                                    </a>
                                </div>
                            </div>
                       
                        <div class="card card-raised card-background header-filter text-primary" filter-color="sicur5" style="background-image: url('../assets/img/DIG-13L-19.jpg')">
                            <div class="card-body mb-5">
                                <h6 class="card-category text-info"><i style="font-size:2rem!important" class=" icon-valori"></i></h6>
                                <a href="signup-page.html">
                                    <h3 class="card-title">Scorta Valori</h3><h5 class="card-title">Trasporto e Custodia dei tuoi Valori</h5>
                                </a>
                                <p class="card-description mt-5">
                                   Il servizio viene espletato mediante l'utilizzo di furgoni blindati dotati delle più sofisticate tecnologie nel settore della sicurezza, collegati alle Centrali Operative tramite sistema satellitare.
                                </p>
                                <a href="signup-page.html" class="btn btn-primary btn-round">
                                     <i class="material-icons">subject</i> Maggiori Informazioni
                                </a>
                            </div>
                        </div>
                        <div class="card card-raised card-background header-filter" filter-color="sicur3"  style="background-image: url('../assets/img/examples/card-project6.jpg')">
                            <div class="card-body mb-5">
                                <h6 class="card-category text-info"><i style="font-size:2rem!important" class=" icon-vigilanza"></i></h6>
								<a href="product.html">
                                <h3 class="card-title ">Allarmi e Video Sorveglianza</h3><h5 class="card-title">In Aree Rurali </h5>
							</a>
                                <p class="card-description mt-5">
                                   La tua casa è finalmente al sicuro con il kit antintrusione direttamente collegato 24H alla centrale operativa.
                                </p>
                               <a href="product.html" class="btn btn-primary btn-round">
                                    <i class="material-icons">subject</i> Maggiori Informazioni
                               </a>
                            </div>
                        </div>
                    </div>
                        <div class="col-md-12">
                            <div class="card card-raised card-background header-filter" filter-color="sicur3"  style="background-image: url('../assets/img/examples/card-project6.jpg')">
                                <div class="card-body mb-5">
                                    <h6 class="card-category text-info"><i style="font-size:2rem!important" class=" icon-vigilanza"></i></h6>
									<a href="product.html">
                                    <h3 class="card-title ">Allarmi e Video Sorveglianza</h3><h5 class="card-title">In Aree Rurali </h5>
								</a>
                                    <p class="card-description mt-5">
                                       La tua casa è finalmente al sicuro con il kit antintrusione direttamente collegato 24H alla centrale operativa.
                                    </p>
                                    <a href="product.html" class="btn btn-success btn-round btn-lg 	d-none d-sm-block ">
                                        <i class="material-icons">shopping_cart</i> Scopri l'Offerta
                                    </a>
                                    <a href="product.html" class="btn btn-success btn-round  	d-block d-sm-none ">
                                        <i class="material-icons">shopping_cart</i> Scopri l'Offerta
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>