@import "../../core/headers";

.header-filter{

    &[filter-color="sicur1"],
    &[filter-color="primary"]{
        &:after{
            @include linear-gradient(rgba($sicur1,.56), rgba($sicur1,.95));

        }
    }
    &[filter-color="sicur5"],
    &[filter-color="info"]{
        &:after{
            @include linear-gradient(rgba($sicur5,.56), rgba($sicur5,.95));
        }
    }
    &[filter-color="sicur2"] {
        &:after{
            @include linear-gradient(rgba($sicur2,.56), rgba($sicur2,.95));
        }
    }
    &[filter-color="sicur3"] {
        &:after{
            @include linear-gradient(rgba($sicur3,.56), rgba($sicur3,.95));
        }
    }
    &[filter-color="sicur4"] {
        &:after{
            @include linear-gradient(rgba($sicur4,.56), rgba($sicur4,.95));
        }
    }
    &[filter-color="white"] {
        &:after{
            @include linear-gradient(rgba($white,.86), rgba($white,.26));
        }
    }
    
	
    &[filter-color="green"],
    &[filter-color="success"]{
        &:after{
            @include linear-gradient(rgba($green-200,.56), rgba($green-400,.95));
        }
    }
    &[filter-color="orange"],
    &[filter-color="warning"]{
        &:after{
            @include linear-gradient(rgba($orange-100,.56), rgba($orange-300,.95));
        }
    }

    &[filter-color="red"],
    &[filter-color="danger"]{
        &:after{
            @include linear-gradient(rgba($red-200,.56), rgba($red-400,.95));
        }
    }
    &[filter-color="rose"]{
        &:after{
            @include linear-gradient(rgba($pink-100,.56), rgba($pink-300,.95));
        }
    }
}
.clear-filter{
    &:before{
        display: none;
    }
}

.header-1,
.header-2,
.header-3{
    .wrapper{
        background: #CCCCCC;
    }
}

.header-2{
    .page-header{
        .container{
            padding-top:25vh;
        }
        .card{
            margin-top: 60px;
        }
    }

}

.header-3{
    .btn{
        margin: 0;
    }
    h6{
        margin-bottom: 0;
    }
}

.card-form-horizontal{
    .form-group{
        margin-bottom: 0;
    }
}
