<!-- index.html -->
{% extends "default.html" %}

{% block content %}
{% import 'macro/bodyClass.html' as body %}
{{body.class('blog-post')}}

{% include "partials/nav.html" %}
	  
 <div class="page-header header-filter " filter-color="primary" data-parallax="true" style="height: 24vh;" >
     <div class="container">
         <div class="row">
             <div class="col-md-8 ml-auto mr-auto text-center">
                
                 
             </div>
         </div>
     </div>
 </div>
 <div class="main main-raised">
     <div class="container">
       <!--     *********    PRICING 2     *********      -->
       <div class="pricing-2" id="pricing-2">
           <div class="container">
               <div class="row">
                   <div class="col-md-10 ml-auto mr-auto text-center">
					    <h1 class="title"><i class="icon-cyber"></i> Sicur Network</h1>
                      <h2> <small>Offerta Commerciale</small></h2>
                       <ul class="nav nav-pills nav-pills-primary">
                           <li class="nav-item">
                               <a class="nav-link active" href="#pill1" data-toggle="tab">Mese</a>
                           </li>
                           <li class="nav-item">
                               <a class="nav-link" href="#pill2" data-toggle="tab">Annuale</a>
                           </li>
                       </ul>
                   </div>
               </div>
               <div class="row">
                   <div class="col-md-4">
                       <div class="card card-pricing card-plain">
                           <div class="card-body ">
                               <h6 class="card-category">Standard</h6>
                               <h1 class="card-title">
                                   <small>&euro;</small> 590<small>.00/mese</small>
                               </h1>
                               <ul>
                                   <li>
                                       Fino a <b>50</b> IP</li>
                                   <li>
                                      Installazione in <b>1</b> ora</li>
                                   <li>
                                      Security Operation Center</li>
                                  
                               </ul>
                           </div>
                           <div class="card-footer justify-content-center">
                               <a href="#pablo" class="btn btn-primary btn-round">
                                   Richiedi
                               </a>
                           </div>
                       </div>
                   </div>
                   <div class="col-md-4">
                       <div class="card card-pricing card-background card-raised" style="background-image: url('../../assets/img/examples/card-blog-blurred.jpg')">
                           <div class="card-body">
                               <h6 class="card-category text-info">Premium</h6>
                               <h1 class="card-title">
                                   <small>&euro;</small> 890<small>.00 /mese</small>
                               </h1>
                               <ul>
                                   <li>
                                        Gestione d’allarme h24</li>
                                   <li>
                                        Reportistica mensile</li>
                                   <li>
                                      Chiamata h24 al reperibile nel caso di Evento.</li>
                                  
                               </ul>
                           </div>
                           <div class="card-footer justify-content-center">
                               <a href="#pablo" class="btn btn-white btn-round">
                                  Richiedi
                               </a>
                           </div>
                       </div>
                   </div>
                   <div class="col-md-4">
                       <div class="card card-pricing card-plain">
                           <div class="card-body ">
                               <h6 class="card-category">Top</h6>
                               <h1 class="card-title">
                                   <small>&euro;</small> 1000<small>.00/mese</small>
                               </h1>
                               <ul>
                                  <li>
                                       Gestione d’allarme h24</li>
                                  <li>
                                       Reportistica mensile</li>
                                  <li>
                                     Chiamata h24 al reperibile nel caso di Evento.</li>
                                   <li>
                                       Installazione <b>ANTIGENA</b> </li>
                               </ul>
                           </div>
                           <div class="card-footer justify-content-center">
                               <a href="#pablo" class="btn btn-primary btn-round">
                                   Richiedi
                               </a>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <!--     *********    END PRICING 2      *********      -->
         <hr>
         <div class="features-2">
             <div class="text-center">
                 <h3 class="title">Domande Frequenti</h3>
             </div>
             <div class="row">
                 <div class="col-md-4 ml-auto">
                     <div class="info info-horizontal">
                         <div class="icon icon-info">
                             <i class="material-icons">card_membership</i>
                         </div>
                         <div class="description">
                             <h4 class="info-title">Posso disdire il mio abbonamento?</h4>
                             <p>Yes, you can cancel and perform other actions on your subscriptions via the My Account page. </p>
                         </div>
                     </div>
                 </div>
                 <div class="col-md-4 mr-auto">
                     <div class="info info-horizontal">
                         <div class="icon icon-success">
                             <i class="material-icons">card_giftcard</i>
                         </div>
                         <div class="description">
                             <h4 class="info-title">Fate uno sconto per abbonamenti annuali?</h4>
                             <p>Yes, we offer a 40% discount if you choose annual subscription for any plan.</p>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="row">
                 <div class="col-md-4 ml-auto">
                     <div class="info info-horizontal">
                         <div class="icon icon-success">
                             <i class="material-icons">attach_money</i>
                         </div>
                         <div class="description">
                             <h4 class="info-title">Quali metodi di pagamento accettate?</h4>
                             <p>WooCommerce comes bundled with PayPal (for accepting credit card and PayPal account payments), BACS, and cash on delivery for accepting payments. </p>
                         </div>
                     </div>
                 </div>
                 <div class="col-md-4 mr-auto">
                     <div class="info info-horizontal">
                         <div class="icon icon-rose">
                             <i class="material-icons">question_answer</i>
                         </div>
                         <div class="description">
                             <h4 class="info-title">Hai altre domande?</h4>
                             <p>Siamo lieti di risponderti, contattaci e poni la tua domanda</p>
                            
                                 <a href="contact-us.html" class="btn btn-primary btn-round">
                                     Contattaci
                                 </a>
                             
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>
{% endblock %}

