                <div class="social-line social-line-big-icons header-filter" filter-color="primary">
                    <div class="container">
						<div class="title">
							<h2 class="title">Ci hanno scelto:</h2>
				
						</div>
                        <div class="row">
                            <div class="col-md-2 client zara-white">
                               
                            </div>
							
                            <div class="col-md-2 client pittarosso-white">
                               
                            </div>
							
                            <div class="col-md-2 client unicredit-white">
                               
                            </div>
							
                            <div class="col-md-2 client cariparma-white">
                               
                            </div>
							
                            <div class="col-md-2 client esselunga-white">
                               
                            </div>
							
                            <div class="col-md-2 client fincantieri-white">
                               
                            </div>
                           
						   
						   
                        </div>
						
                       
                    </div>
                </div>