                    <footer class="footer footer-big mt-4">
                        <div class="container mt-4">
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-3 brand">
                                        
                                    </div>
                                    <div class="col-md-3">
                                        <h5>Vigilanza</h5>
                                        <ul class="links-vertical">
                                            <li>
				                               <a href="#" class="dropdown-item">
				                                   <i class="material-icons">priority_high</i> Armata
				                               </a>
				                              
                                            </li>
                                            <li>
				                               <a href="#" class="dropdown-item">
				                                   <i class="material-icons">pin_drop</i> Satellitare
				                               </a>
							 
				                              
                                            </li>
                                            <li>
				                               <a href="#" class="dropdown-item">
				                                   <i class="material-icons">alarm</i> Antintrusione
				                               </a>
				                               
                                            </li>
                                            <li>
 				                               <a href="#" class="dropdown-item">
 				                                   <i class="material-icons">vpn_key</i> Gestione Chiavi
 				                               </a>
 				                              
                                            </li>
											<li>
  				                               <a href="#" class="dropdown-item">
  				                                   <i class="material-icons">how_to_reg</i> Metronotte
  				                               </a>
  				                              
												
											</li>
											<li>
   				                               <a href="#" class="dropdown-item">
   				                                   <i class="material-icons">security</i> Sicurezza Privata
   				                               </a>
   				                             
												
											</li>
											<li>
    				                               <a href="#" class="dropdown-item">
    				                                   <i class="material-icons">videocam</i> Video Sorveglianza
    				                               </a>
    				                             
											</li>
											<li>
 				                               <a href="#" class="dropdown-item">
 				                                   <i class="material-icons">flight</i> Vigilanza Aeroportuale
 				                               </a>
 				                              
											</li>
											<li>
  				                               <a href="#" class="dropdown-item">
  				                                   <i class="material-icons">directions_boat</i> Vigilanza Portuale
  				                               </a>
											</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3">
                                        <h5>Valori e Preziosi</h5>
                                        <ul class="links-vertical">
                                            <li>
				                               <a href="#" class="dropdown-item">
				                                   <i class="material-icons">local_shipping</i> Trasporto
				                               </a>
				                              
                                            </li>
                                            <li>
			                               <a hhref="#" class="dropdown-item">
			                                   <i class="material-icons">supervisor_account</i> Scorta
			                               </a>
			                              
                                            </li>
                                            <li>
				                               <a href="#" class="dropdown-item">
				                                   <i class="material-icons">list</i> Custodia
				                               </a>
				                              
                                            </li>
                                            <li>
 				                               <a href="#" class="dropdown-item">
 				                                   <i class="material-icons">money</i> Contazione
 				                               </a>
 				                              
                                            </li>
                                            <li>
				                               <a href="#" class="dropdown-item">
				                                   <i class="material-icons">lock</i> Casseforti
				                               </a>
				                              
                                            </li>
                                            <li>
			                               <a href="#" class="dropdown-item">
			                                   <i class="material-icons">library_books</i> Trattamento Titoli
			                               </a>
			                              
 				                              
                                            </li>
                                            <li>
   			                               <a href="#" class="dropdown-item">
   			                                   <i class="material-icons">local_atm</i> Gestione Bancomat
   			                               </a>
 				                              
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3">
                                        <h5>CyberSecurity</h5>
                                        <ul class="links-vertical">
                                            <li>
                                                <a href="#pablo">
                                                    Proof of Value
                                                </a>
                                            </li>
                                            <li>
                                                <a target="_blank" href="https://www.darktrace.com/it/prodotti/#darktrace-enterprise">
                                                    Enterprise Immune System
                                                </a>
                                            </li>
                                            <li>
                                                <a  target="_blank" href="https://www.darktrace.com/it/prodotti/#darktrace-antigena">
                                                    Antigena
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3 d-none">
                                       
                                        <p>
                                            Non trovi quello che cerchi? Siamo a tua disposizione, inviaci un messaggio e risponderemo in 24h.
                                        </p>
                                       
                                            <a class="btn btn-primary btn-link" href="contact-us.html">
                                               Invia un Messaggio
                                            </a>
                                       
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <ul class="social-buttons">
                                <li>
                                    <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#pablo" class="btn btn-just-icon btn-link btn-facebook">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                </li>
                                
                            </ul>
                           
                        </div>
                    </footer>